<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找活动-报名人员</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_aitve/hd_footerNav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_aitve/hd_huodongxiangqing.css" />
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body class="bodyPB">
    <!--<header class="clearfix hd_header"><a href="javascript:;" class="back fl"></a>活动详情<a href="javascript:;" class="seemore fr"></a></header>-->
    <section class="contentBox">
        <!--<div class="item clearfix">
            <div class="sex fl">
                <img src="images/female.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson01.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>
        <div class="item clearfix">
            <div class="sex fl">
                <img src="images/male.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson02.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>
        <div class="item clearfix">
            <div class="sex fl">
                <img src="images/female.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson01.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>
        <div class="item clearfix">
            <div class="sex fl">
                <img src="images/male.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson02.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>
        <div class="item clearfix">
            <div class="sex fl">
                <img src="images/female.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson02.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>
        <div class="item clearfix">
            <div class="sex fl">
                <img src="images/male.png"/>
            </div>
            <div class="headImg fl clearfix">
                <div class="imgDiv fl"><img src="images/hdxqPerson02.png"/></div>
                <h3 class="fl color333">愛の過祛</h3>
            </div>
            <span class="chengyuan fr color999">群众成员</span>
        </div>-->
    </section>
    <div class="morebtn color333">查看更多</div>
    <!--<footer>
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>首页</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找活动</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找问答</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找帮助</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>我的</h6>
                </a>
            </li>
        </ul>
    </footer>-->
</body>
</html>
<script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../public/js/find_active/footerChange.js"></script>
<script type="text/javascript" src="../../public/js/module/Qnzs.js" >
</script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>

<script type="text/javascript" src="../../public/js/find_active/people_deil.js">
	
</script>