@charset "utf-8";

html, body, ul, li { margin: 0; padding: 0px; line-height: 1.2em;}
br {line-height:8px; margin:0px;}

h1, h2, ul, li, p { margin: 0; padding: 0; }
html, body {font-family:georgia, verdana, tahoma, arial, sans-serif; font-size: 0.625em/1.5em; background:#fff; }
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a:hover {text-decoration:underline;}

.menu{width:221px;padding:0px;font-size:11px;margin:0 auto;overflow:hidden;}
.menu ul li{display:block;width:221px;padding-top:2px;margin-bottom:5px;background: url(../../images/zakladka.png) top left no-repeat;list-style:none;overflow:visible;}
.menu ul li a{display:block;height:40px; width:183px;margin-top:0px;padding-top:13px;padding-left:35px;font-size:14px;color:#fff;outline:none;}
.menu ul li .active{background:url(../../images/on.png) top right no-repeat;}
.menu ul li .inactive{background:url(../../images/off.png) top right no-repeat;}
.menu ul li ul{display:none; margin-top:4px;margin-bottom:20px;   }
.menu ul li ul li ul{margin-bottom:5px;}
.menu ul li ul li{display:block;background:none;font-size:12px;padding:15px 0px;list-style:circle;color:#8f9d4c;margin-bottom:0px;margin-top:0px;padding-top:0px;padding-bottom:0px;padding-left:1px;margin-left:20px;}
.menu ul li ul li a{background:none;font-size:12px;height:15px;padding:15px 0px;color:#a6a6a6;padding-left:20px; }