<!DOCTYPE html>
<html>
   <head>
      <title>广东青年之声后台理</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8"> 
      <link href="../../public/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
      <link href="../../public/css/common/style.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/default/easyui.css" />
      <link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/icon.css" /> 
      <link rel="stylesheet" type="text/css" href="../../public/css/common/check.css"/>
      
      <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css"/>
      <!--校验插件--->
      <!--校验插件--->
      <script src="../../public/vendor/jqueryfileupload/jquery-3.2.1.min.js"></script>
      <script src="../../public/vendor/check/validator/fm.validator.js"></script>
	   <script src="../../public/js/module/Qnzs.js"></script>
      <script src="../../public/js/ajax/ajax2.js"></script>
      <script src="../../public/js/module/Utils.js"></script> 
      <style type="text/css">
    
      </style>
</head>

<body>

<div class="col-sm-12">

 <!--数据过滤strat-->
 <div class="datafilter">
      <div class="search">
          <form  id="" method="post"> 
                <div class="form-group sz_height">
                       <label class="col-sm-1">昵称</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" id="userkeyWord">
                      </div>

                      <label class="col-sm-1">用户类型</label>
                      <div class="col-sm-2">
                           <select class="form-control" id="userType">
                                  <option value="">请选择</option>
                                  <option value="1">公众用户</option>
                                  <option value="3">咨询导师</option>
                                  <!--<option value="3">站点管理员</option>-->
                            </select>
                      </div>
                      
                      <label class="col-sm-1">手机号</label>
                      <div class="col-sm-2">
                           <input type="text" class="form-control" id="userTal">
                      </div>
                      <div class="col-sm-2"></div>
                 </div><!--form-group end-->
                 
                <div class="form-group sz_height">
                      <label class="col-sm-1">所属机构</label>
                      <div class="col-sm-2">
                           <select  class="form-control" id="oidType" onchange="changeOidType(this)">
                                    <option value="">请选择</option>
                                    <option value="1">地市</option>
                                    <option value="2">高校</option>
                  			</select>
                      </div>
                     <label class="col-sm-1" id="show1">组织区域</label>
                      <div class="col-sm-2">
                           <select id="cityOid" class="form-control"  name="cityOid" onchange="cityOidChange(this)">
		                 	</select>
		                 	<select id="shcoolOid" class="form-control"  name="shcoolOid"  onchange="schoolOidChange(this)">
		                 	</select>
                    	
                      </div>
                      <label class="col-sm-1" id="show2">组织区域</label>
                      <div class="col-sm-2">
                             <!-- <input id="userType3" name="dept" value="地市">-->
                        <select id="areaOid" class="form-control"  onchange="quxuan(this)">
								<option value="-1">--区/县--</option>
			            </select>
	                    <select id="classOid"  class="form-control"  onchange="quxuan(this)">
								<option value="-1">--分院--</option>
			              </select>
			               <input type="hidden" id="areaId" name="areaId">
                      </div>
                      
                      <div class="col-sm-3">
                      <button type="button" class="btn btn-warning btn-sm" id="userSearchBtn"><span class="glyphicon glyphicon-search"></span>查询</button>
                      <button type="button" class="btn btn-info btn-sm" id="userClearBtn"><span class="glyphicon glyphicon-refresh"></span>清空</button>
                     <button style="display: none;" type="button" class="btn btn-info btn-sm" id="maxSeaBtn"><span class="glyphicon glyphicon-refresh"></span>批量查询</button>
                      </div>
                
                 </div><!--form-group end-->
                
                 
		  </form>
       </div>
 </div>
 <!--数据过滤end-->

 <div class="border clearfix">
        <ul class="nav navbar-nav" id="toolbar">
          <li onclick="orgReset()" class="active" id="user_add"><a href="#"><span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#user-add">新增</span></a></li>
          <li onclick="updateUserInfo(2)" id="user_update" ><a href="javascript：void(0);"><span class="glyphicon glyphicon-pencil" data-toggle="modal">修改</span></a></li>
          <li onclick="userStart(1)" id="user_disabled"><a href="javascript：void(0);"><span class="glyphicon glyphicon-play" data-toggle="modal">启动</span></a></li>
          <li onclick="userStop(1)"  id="stop_use"><a href="javascript：void(0);"><span class="glyphicon glyphicon-ban-circle" data-toggle="modal" >禁用</span></a></li>
          <li onclick="userReset(2)" id="user_resetPW"><a href="javascript：void(0);"><span class="glyphicon glyphicon-cog" data-toggle="modal" >重置密码</span></a></li>

          <!--<li onclick="userUpateOrg(2)"><a href="javascript：void(0);"><span class="glyphicon glyphicon-pencil" data-toggle="modal">修改组织</span></a></li>-->
          <!--<li><a href="javascript：void(0);"><span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#user-send">发站内信</span></a></li>-->
                  
        </ul>
  </div>
     
    
<!--列表展示start-->
  <table id="userTable" style="width:200px;height:300px">
 
  </table>  
   


<!--列表展示end-->   

 
<!-- 新增框（Modal） -->
<div class="modal fade" id="user-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增帐号
				</h4>
			</div>
			<div class="modal-body s-height">
				<form id="form1" class="validator"><!--form-horizontal-->
					
					<div class="item-box">
						<span id="checkRedFly">*</span>
					    <label>类型</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select  class="form-control" id="oidType2" onchange="changeOid2Type(this)">
                                    <option value="">请选择</option>
                                    <option value="1">地市</option>
                                    <option value="2">高校</option>
                  	    </select>
					</div>
					<div class="item-box">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select  id="cityOid2" class="form-control"  name="cityOid2" onchange="cityOid2Change(this)">
	                 	</select>
	                 	<select  id="shcoolOid2" class="form-control"  name="shcoolOid2"  onchange="schoolOid2Change(this)">
	                 	</select>
					</div>
					<div class="item-box">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select  id="areaOid2" class="form-control"  onchange="quxuan2(this)">
								<!--<option value="-1">--区/县--</option>-->
			            </select>
	                    <select  id="classOid2" class="form-control"   onchange="quxuan2(this)">
								<option value="-1">--分院--</option>
			            </select>
					</div>
					<!--<div class="item-box ">
				       <span id="checkRedFly">*</span>
					   <label>用户类型</label>&nbsp;&nbsp;&nbsp;
					   <select class="input-sm form-control input-s-sm inline" data-required id="userTy">
                                  <option value="0">请选择</option>
                                  <option value="1">公众用户</option>
                                  <option value="3">咨询导师</option>
                                 <!-- <option value="3">站点管理员</option>
                                  <option value="4">组织用户</option>-->
                        <!--</select>-->
					
					<!--</div>-->
					<div class="item-box">
						<span id="checkRedFly">*</span>
						<label>昵称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" data-required  id="userName">
			        </div>
			        <div class="item-box">
			        	<span id="checkRedFly">*</span>
					    <label>邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
                            <input  type="text" data-type="email" data-required  id="userMail">
			        </div>
			        <div class="item-box">
			        	<span id="checkRedFly">*</span>
					    <label>地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
                            <input  type="text"  data-required  id="address">
			        </div>
			        <div class="item-box">
			        	<span id="checkRedFly">*</span>
					    <label>手机&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				          <input type="text" data-required  id="UuserTal">
				    </div>
				   
				 
				    <div class="item-box">
				    	<span id="checkRedFly">*</span>
				        <label>密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        
				        <input  data-type='password' data-required  id="userPsd">
				    </div>
				     <div class="item-box">
				    	<span id="checkRedFly">*</span>
				        <label>确认密码&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        
				           <input  data-type='password' data-required id="ConfirmPsd" >
				    </div>
			        <div class="item-box">
				    	<span id="checkRedFly">*</span>
				        <label>使用状态&nbsp;&nbsp;&nbsp;</label>
				        <select data-required class="input-sm form-control input-s-sm inline" id="userState">
                                  <option value="0">请选择</option>
                                  <option value="1">正常</option>
                                  <option value="2">暂停</option>
                           　                               </select>
				    </div>
			       
					 <!---提交--->
			        <div class="stopBtn" style="height: 50px;">
						<button type="button" class="btn btn-warning" id="userInfoAdd">确定</button>
						<button id="user-reset" type="reset" class="btn btn-info" onclick="Validator.removeErrors(document.getElementById('form1'));">重置</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">关闭
				        </button>
					</div>
					
				</form>
				
				
				

			</div>
			<div class="modal-footer" style="height: 50px;">
				<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="userInfoAdd">
					确定
				</button>-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 新增框（Modal）end -->

<!-- 修改框（Modal） -->
<div class="modal fade" id="user-modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					修改帐号
				</h4>
			</div>
			<div class="modal-body s-height">
				<form  id="from2" method="get" class="form-horizontal">
                   
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>类型</label>
                        <div class="col-sm-7">
                           <select  class="form-control" id="oidType1" onchange="oidType(this)">
	                                <option value="">请选择</option>
	                                <option value="1">地市</option>
	                                <option value="2">高校</option>
	              	        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
                        <div class="col-sm-7">
		                        <select id="cityOid1" class="form-control"  name="oidCity" onchange="oidCity4(this)">
			                 	</select>
			                 	<select id="shcoolOid1" class="form-control"  name="shcoolOid3"  onchange="oidSchool(this)">
			                 	</select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
                        <div class="col-sm-7">
		                        <select id="areaOid1" class="form-control"  onchange="quxuan1(this)">
								<!--<option value="-1">--区/县--</option>-->
					            </select>
			                    <select id="classOid1" class="form-control"   onchange="quxuan1(this)">
										<option value="-1">--分院--</option>
					            </select>
                        </div>
                    </div>
				
					
                        
                    <div style="clear:both"></div>
                    
                    <!-- <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly"></span>用户类型</label>
                        <div class="col-sm-7">
                            <select class="input-sm form-control input-s-sm inline" id="userType3">
                                  <option value="0">请选择</option>
                                  <option value="1">公众用户</option>
                                  <option value="3">咨询导师</option>
                                  <!--<option value="3">站点管理员</option>
                                  <option value="3">组织用户</option>-->
                          <!--  </select>
                        </div>
                    </div>-->
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>昵称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="userName2">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>邮箱</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="userMail2">
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>地址</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="upd_ZuserAddres">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>手机</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="ZuserTal">
                        </div>
                         <div class="col-sm-2">
                         	<button id="update_moblie"  type="button" class="btn btn-default" data-dismiss="modal">修改
				            </button>
                           
                        </div>
                    </div>
                      <!--<div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="upd_psd">
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>确认密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="upd_confirm_psd">
                        </div>
                    </div>-->
                    
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>办公电话</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="ZuserTal2">
                        </div>
                    </div>-->
                    <input type="hidden" form-control id='userID2'>
                   
                   <!-- <div class="form-group">
                        <label class="col-sm-2 control-label" ><span id="checkRedFly">*</span>密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="userPsd2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>确认密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="ConfirmPsd2">
                        </div>
                    </div>-->
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>使用状态</label>
                        <div class="col-sm-7">
                             <select class="input-sm form-control input-s-sm inline" id="userState2">
                                  <option value="">请选择</option>
                                  <option value="0">正常</option>
                                  <option value="1">暂停</option>
                           　</select>
                        </div>
                    </div>
                   
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" onclick="updateInfo()" class="btn btn-primary" id="addUserInfoBtn">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 修改框（Modal）end --

<!-- 分配角色框（Modal） -->
<div class="modal fade" id="user-jiaose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					分配权限
				</h4>
			</div>
			<div class="modal-body s-height">
			     <table id="userAddRole" style="width:200px;height:300px"><!---权限数据表格------>
 
                </table>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 分配角色框（Modal）end -

<!-- 启用框（Modal） -->
<div class="modal fade" id="user-start" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					启用
				</h4>
			</div>
			<div class="modal-body">
		    您确认要启动该项目?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary"  id="userStartBtn">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 启用框（Modal）end -->

<!-- 禁用框（Modal） -->
<div class="modal fade" id="user-stop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					禁用框
				</h4>
			</div>
			<div class="modal-body">
			你确定要禁用本项目吗？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary"  id="userStoptBtn">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 禁用框（Modal）end -->

<!-- 重置密码框（Modal） -->
<!--<div class="modal fade" id="user-reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
			你确定要重置密码吗？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="userRrsetBtn">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	<!--</div><!-- /.modal-dialog -->
<!--</div>--><!-- 重置框（Modal）end -->


<!--- 重置密码框2 --->

<div class="modal fade" id="userReset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
			 确认要重置密吗?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="userRrsetBtn">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 修改组织框（Modal）end -->






<!---修改手机号 --->
<div class="modal fade" id="update_moblie_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					修改手机号
				</h4>
			</div>
			<div class="modal-body s-height" style="height: 258px;">
				       <form  id="from2" method="get" class="form-horizontal">
			    	    <div class="form-group">
	                        <label class=" control-label" style="margin-left: 50px;">请输入您的新手机号，并进行短信验证</label>
	                    </div>
			            <div class="form-group">
	                        <label class="col-sm-3 control-label"><span id="checkRedFly">*</span>新手机号</label>
	                        <div class="col-sm-7">
	                            <input type="text" class="form-control" id="newphone">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label"><span id="checkRedFly">*</span>图片验证码</label>
	                        <div class="col-sm-7">
	                            <input type="text" class="form-control " id="verification" style="width: 200px;float: left;">
	                            <div>
		                             <img id="imagesyanz" onclick="changeModel()" src="" alt="" style="width: 100px;">
		                        </div>
	                        </div> 
	                        
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label"><span id="checkRedFly">*</span>短信验证码</label>
	                        <div class="col-sm-7">
	                            <input type="text" class="form-control" id="yangzheng_code" style="width: 200px;float: left;">
	                            <div>
	                            	<button  onclick="sendYanzhengCode()"  type="button" class="btn btn-default" >点击获取
				                   </button>
                           
		                           
		                        </div>
	                        </div
	                       
	                    </div>
		                    
				        
			    </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="Upate_moblie_btn" >
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 修改框（Modal）end --




<!-- 修改组织框（Modal） -->
<div class="modal fade" id="user-Modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
			 确认要修改组织吗?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="UpateOrgBtn" >
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 修改组织框（Modal）end -->

<!-- 发送站内信息框（Modal） -->
<div class="modal fade" id="user-send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
			  <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="user-title">
                        </div>
                        <div class="col-sm-3"> </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-7">
                            <textarea name="" cols="1" rows="4" class="form-control" id="user-content"></textarea>
                        </div>
                        <div class="col-sm-3"> </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">温馨提示</label>
                        <div class="col-sm-7">
                            组织用户可向本组织所有用户群发站内信，所发站内信将自动推送至用户微信端（需绑定“广东青年之声”公众号）。
                        </div>
                        <div class="col-sm-3"> </div>
                    </div>
                   
                   
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="usersSendSiteBtn" onclick="sentSiteInfo()">
					确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- 修改组织框（Modal）end -->

<!-- 分配角色框（Modal） -->
<!--<div class="modal fade" id="user_add_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					分配用户角色
				</h4>
			</div>
			<div class="modal-body s-height">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="userAddqxBtn">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	<!--</div>--><!-- /.modal-dialog -->
<!--</div>--><!-- 分配角色框（Modal）end -->

<!-- 批量查询模板--->




<script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="../../public/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/vendor/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js" ></script>

<!--弹出框-->
<script src="../../public/custom/dialog.js"></script>



<script src="../../public/js/user/user.js"></script>
<script src="js/request-ajax/user-linkage.js"></script>
 <!---图片上传插件 ---->
<script src="../../public/js/common/user-linkage.js"></script>
<!--<script src="../../public/js/common/user-linkage-2.js"></script>-->
<script type="text/javascript" src="../../public/js/common/user-linkage-2.js">
	
</script>
<!--<script src="../../public/js/common/user-linkage-3.js"></script>-->
</body>
</html>



    
    
    
    
    
    