<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>人气主办方</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_aitve/hd_zhaohuodong.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_aitve/hd_zhubanfang.css" />
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>

    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body>
<section class="zhaohd_zhuban hd_backgroung hot_sponsor_box" style="margin-top:0;">
    <div class="zhaohd_box hot_sponsor_list">

    </div>
</section>
</body>
<script type="text/javascript">
    function   getPublisher(){
        $.ajax({
            type:"get",
            url:Qnzs.path+"/personalCenter/organization/followedList",
            dataType:"JSON",
            success:function(data){
                var data=data.rows;
                $.each(data,function(index,item) {
                    var coor=item.activityAverageScore;
                    var corrnum=coor.toFixed(1);
                    $('.hot_sponsor_list').append('<a href="../organization/organization_detail.html?oid='+item.oid+'"><div class="zhaohd_box_in clearfix"><span class="zhaohd_box_l fl"><img src="'+ Utils.compressByAli(item.photoUrl, 200, 200) +'" alt="" class="hd_pic" /></span><div class="zhaohd_box_r zb_box"><h3 class="zb_zhuti box_r_title">'+item.name+'</h3><div class="zb_pinglun scoreBox"><ol class="zb_star score_ol clearfix fl"></ol><span class="fenshu fl"><em class="score_num">'+corrnum+'</em>分</span><span class="pingjia color999 fl">'+item.activityScoreCount+'人已评</span></div><p class="guanzhu color999">'+item.attentionCount+'人关注</p></div></div></a>');
                });
            }
        });
    }
    getPublisher();

</script>
</html>
