<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		.c{
			text-align: center;
		}
		.t_inde{
			text-indent:30px;
		}
	</style>
	<body>
		<div class="" style="padding: 0 20px; padding-bottom: 20px;">
			<p><h1 style="text-align: center;">广东青年之声服务协议</h1></p>
	
	        <p><h2  class="c">总     则</h2></p>  
	            
				<p style="text-indent: 34px;">欢迎您来到广东“青年之声”互动社交综合服务平台（以下简称“平台”）。 在使用平台各项服务前，请务必仔细阅读本协议并同意遵守协议有关规定。如对本协议内容有任何疑问，您可以通过平台公布的联系方式进行咨询。当您使用平台提供的任一服务，则表示您明确知晓本协议所有内容，并与平台达成协议且接受所有的服务条款；无论是直接进入平台或通过各类方式间接使用平台功能、服务和数据的行为，都将被视作同意无条件接受本协议的约束。如果您不同意本协议任何内容，您应立即停止使用平台服务。平台提供的服务将完全按照此服务协议进行严格执行。
				用户规范
				特别提示用户，使用互联网必须遵守国家有关的政策和法律，包括《刑法》、《网络安全法》、《国家安全法》、《保密法》、《计算机信息系统安全保护条例》等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。 用户及其他机构以任何方式使用平台的服务和数据，应当遵守以下规定：
				拟注册用户应提供有效、真实的手机号码，未提供前述信息或提供不真实信息的，将无法在“青年之声”注册用户帐号。</p>
				<p>1.用户将使用自己的手机号码及自定义密码注册平台账号，该用户帐号和密码由用户自行负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
				<p>2.用户在申请使用平台提供的服务时，必须向平台提供准确的资料，如资料有任何变动，必须及时更新。</p>
				<p>3.用户在使用平台的各项服务过程中，必须遵循以下原则:</p>
				<p>（1）遵守中华人民共和国相关法律法规；</p>
				<p>（2）不得为任何非法目的使用本系统；</p>
				<p>（3）遵守所有与平台提供的服务有关的网络协议、规定和程序；</p>
				<p>（4）不得利用平台进行任何可能对互联网的正常运转造成不利影响的行为；</p>
				<p>（5）不得利用平台传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
				<p>（6）不得在平台发表任何侵犯他人知识产权的信息，由此引起的知识产权纠纷的，均由侵权用户自行承担法律责任；</p>
				<p>（7）不得利用平台进行任何不利于广东“青年之声”的行为。</p>
				<p>4.参加平台活动的个人用户必须年满16周岁且具完全民事行为能力。未满16周岁者须征得监护人同意。</p>
				<p>5.本平台资源提供方提供的资源支持用户举办活动，纯属出于善意，不存在任何雇佣、交易关系，用户在活动过程中的任何言行及引发的后果，与本网站及资源提供方无关。 
				版权使用</p>
				<p>1.对用户使用平台的功能在平台所发布的内容，包括文字、图片、视频、音频、肖像等信息，平台运营方拥有完全使用权，包括但不限于复制、整理、公布、分享、推广及出版，以及授权相关合作机构使用。</p>
				<p>2.在本平台发起活动、提供资源的组织用户，对所有参与活动或申请资源的用户就参与该活动或申请该资源所形成的文字、图片、视频、音频、肖像等信息拥有完全使用权，包括但不限于复制、整理、公布、分享、推广及出版，以及授权相关合作机构使用。
				免责声明</p>
				<p>1.平台仅为用户提供平台信息支持和存储服务，不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证网站的服务不会中断。如因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致不能正常使用的，平台不承担任何法律责任。</p>
				<p>2.用户在平台发表的内容纯属用户自身的观点和立场，与平台无关。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任，与平台无关。</p>
				<p>3.用户在平台发布违规内容，或侵犯他人知识产权或其他合法权益的，平台有权予以删除，并保留移交司法机关处理的权利。如对平台造成不良影响和损失的，平台保留追究相关法律责任的权利。</p>
				<p>4.其他个人或机构如认为平台上存在侵犯其合法权益的内容，应提供具有法律效力的证明材料，及时与平台取得联系，以便迅速做出处理。
				本平台仅为活动及资源发布提供信息服务支持，通过本平台发起的活动或发布的资源，所引发的一切后果，均与本网站无关。</p>
				<p>6.资源提供方通过本平台提供资源，属于善意行为，与申请人不构成任何雇佣或交易关系。申请人须自行评估风险，对自身行为负责，使用资源过程中引发的任何后果，均与资源提供方无关。
				结束服务
				如因系统维护或升级的需要而需暂停平台的服务，本网站将尽可能事先进行通告。</p>
				如发生下列任何一种情形，本网站有权随时中断或终止向用户提供本协议项下的平台服务而无需通知用户：</p>
				<p>• 用户提供的资料不真实；</p>
				<p>• 用户违反本协议中规定的使用规则。</p>
				<p>除前款所述情形外，本网站同时保留在不事先通知用户的情况下随时中断或终止部分或全部平台服务的权利，对于所有服务的中断或终止而造成的任何损失，本平台无需对用户或任何第三方承担任何责任。
				协议修改</p>
				<p>1.根据互联网的发展和有关法律、法规及规范性文件的变化，平台有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，平台将会直接在平台上公布修改之后的协议内容，该公布行为视为平台已将协议修改内容通知到用户。</p>
				<p>2.如果不同意平台对本协议相关条款所做的修改，用户有权并应当停止使用平台。如果用户继续使用平台，则视为用户接受平台对本协议相关条款所做的修改。</p>
				<p>3.平台独立拥有对本协议条款的最终修改权和解释权。</p>
	    </div>
			<div class="" style="padding: 0 20px; padding-bottom: 20px;">
				<p><h1 style="text-align: center;">“智慧团建”系统服务协议</h1></p>

                        <p><h2  class="c">总     则</h2></p>  
            
					<p style="text-indent: 34px;">欢迎您来到“智慧团建”系统。 在使用“智慧团建”各项服务前，请务必仔细阅读本协议并同意遵守协议有关规定。如对本协议内容有任何疑问，您可以通过“智慧团建”公布的联系方式进行咨询。当您使用“智慧团建”提供的任一服务，则表示您明确知晓本协议所有内容，并与“智慧团建”达成协议且接受所有的服务条款；无论是直接进入“智慧团建”或通过各类方式间接使用“智慧团建”的平台功能、服务和数据的行为，都将被视作同意无条件接受本协议的约束。如果您不同意本协议任何内容，您应立即停止使用“智慧团建”服务。“智慧团建”提供的服务将完全按照此服务协议进行严格执行。
					用户规范
					特别提示用户，使用互联网必须遵守国家有关的政策和法律，包括《刑法》、《国家安全法》、《保密法》、《计算机信息系统安全保护条例》等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。 用户及其他机构以任何方式使用“智慧团建”的服务和数据，应当遵守以下规定：</p>
					拟注册用户应提供有效、真实的身份证明文件及联系方式，未提供前述信息或提供不真实信息的，将无法在“智慧团建”注册用户帐号。</p>
					<p>1.用户注册成功后，“智慧团建”将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
					<p>2.用户在申请使用“智慧团建”提供的服务时，必须向“智慧团建”提供准确的资料，如资料有任何变动，必须及时更新。</p>
					<p>3.用户在使用“智慧团建”的各项服务过程中，必须遵循以下原则:</p>
					<p>（1）遵守中国有关的法律和法规；</p>
					<p>（2）不得为任何非法目的而使用服务系统；</p>
					<p>（3）遵守所有与服务有关的网络协议、规定和程序；</p>
					<p>（4）不得利用“智慧团建”服务系统进行任何可能对互联网的正常运转造成不利影响的行为；</p>
					<p>（5）不得利用“智慧团建”服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
					<p>（6）不得在“智慧团建”发表任何侵犯他人知识产权的信息，由此引起的知识产权纠纷的，均由侵权用户自行承担法律责任。</p>
					<p>（7）不得利用“智慧团建”服务系统进行任何不利于“智慧团建”的行为。</p>
					<p>4.本网站资源提供方提供的资源支持用户举办活动，纯属出于善意，不存在任何雇佣、交易关系，用户在活动过程中的任何言行及引发的后果，与本网站及资源提供方无关。</p>
					<p>版权使用
					对用户使用“智慧团建”的功能在“智慧团建”所发布的内容，包括文字、图片、视频、音频、肖像等信息，“智慧团建”运营方拥有完全使用权，包括但不限于复制、整理、公布、分享、推广及出版，以及授权相关合作机构使用。
					免责声明</p>
					<p>1.“智慧团建”仅为用户提供平台信息支持和存储服务，不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证网站的服务不会中断。如因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致不能正常使用的，“智慧团建”不承担任何法律责任。</p>
					<p>2.用户在“智慧团建”发布的内容属用户自主行为，与“智慧团建”无关。作为内容的发布者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发布者承担全部法律及连带责任，与“智慧团建”无关。</p>
					<p>3.用户在“智慧团建”发布违规内容，或侵犯他人知识产权或其他合法权益的，“智慧团建”有权予以删除，并保留移交司法机关处理的权利。如对“智慧团建”造成不良影响和损失的，“智慧团建”保留追究相关法律责任的权利。</p>
					<p>4.其他个人或机构如认为“智慧团建”上存在侵犯其合法权益的内容，应提供具有法律效力的证明材料，及时与“智慧团建”取得联系，以便迅速做出处理。</p>
					<p>5.为提升本系统服务的质量，系统可能会与第三方合作共同向用户提供相关的服务，此类合作可能需要包括但不限于系统将用户数据提供给第三方，或与第三方的信息系统进行数据互通。在此情况下，用户知晓并同意如该第三方同意承担与本系统同等的保护用户隐私的责任，则系统有权将用户的注册资料等提供给该第三方，并与第三方约定用户数据仅为双方合作的服务之目的使用；并且，系统将对该第三方使用用户数据的行为进行监督和管理，尽一切合理努力保护用户个人信息的安全性。</p>
					<p>6.在不透露单个用户隐私资料的前提下，本系统有权对整个用户数据库进行分析并对用户数据库进行合法合规的市场化运用。</p>
					<p>结束服务
					如因系统维护或升级的需要而需暂停“智慧团建”的服务，本网站将尽可能事先进行通告。</p>
					<p>如发生下列任何一种情形，本网站有权随时中断或终止向用户提供本协议项下的“智慧团建”服务而无需通知用户：</p>
					<p>• 用户提供的资料不真实；</p>
					<p>• 用户违反本协议中规定的使用规则。
					除前款所述情形外，本网站同时保留在不事先通知用户的情况下随时中断或终止部分或全部“智慧团建”服务的权利，对于所有服务的中断或终止而造成的任何损失，本网站无需对用户或任何第三方承担任何责任。
					协议修改</p>
					<p>1.根据互联网的发展和有关法律、法规及规范性文件的变化，“智慧团建”有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，“智慧团建”将会直接在平台上公布修改之后的协议内容，该公布行为视为“智慧团建”已将协议修改内容通知到用户。</p>
					<p>2.如果不同意“智慧团建”对本协议相关条款所做的修改，用户有权并应当停止使用“智慧团建”。如果用户继续使用“智慧团建”，则视为用户接受“智慧团建”对本协议相关条款所做的修改。</p>
					<p>3.“智慧团建”独立拥有对本协议条款的最终修改权和解释权。</p>
        
        </div>

		

	</body>
</html>
