<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<title>青年之声-问专家</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		  <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
		<link rel="stylesheet" type="text/css" href="../../public/vendor/layer/layer.css" />
		<link rel="stylesheet" type="text/css" href="../../public/vendor/layer/laypage.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/heavy_project/findConsult.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/find_consult/webuploader.css" />
		<link rel="stylesheet" type="text/css" href="../../public/css/find_consult/webupload_main.css" />
		<link rel="stylesheet" type="text/css" href="../../public/custom/page.css" />
        
		<script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
		<!--对话框-->
		<script type="text/javascript" src="../../public/custom/dialog.js"></script>
		<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
		<script type="text/javascript" src="../../public/js/module/Utils.js"></script>
		<script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
		<script type="text/javascript" src="../../public/js/ajax/ajax.js"></script>
		<script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
		<script type="text/javascript" src="../../public/js/find_consult/find_consult_quesdetail.js"></script>
		<!--分页 js-->
		<script type="text/javascript" src="../../public/custom/page.js"></script>
		<!--公共头部和底部-->
		<script type="text/javascript" src="../../public/custom/common.js"></script>
		<script type="text/javascript" src="../../public/js/common/qnzsPcCommon.js"></script>
		<!--<script>-->
		<!--window.onload = function () {-->
		<!--new uploadPreview({UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow"});-->
		<!--}-->
		<!--</script>-->
	</head>

	<body class="bodyPt96 fcwzj">

		<div style="background-color: #fff;">
			<article class="w1200">
				<div style="background-color: #fff;">
					<article class="w1200">
						<section class="component  Message" style="overflow: hidden;">
							<header class="title">
								<span class="fl" id="total">评论(1188)</span>

							</header>
							<article class="componetContnet msgBorad">
								<ul class="listMsg" id="listMsg11732252">
									<a class="headimg"> <img src="//wx.qlogo.cn/mmopen/UQhrlQ3kTUr7IDBnlmefibQNYqWJ78W03WCXpkz3UMshzZCpT9h9Is2XWM4vwICZbTj13pflficKViaXA6G8liciaRbZGWsg0iaq2b/0" height="88" width="88"></a>
									<ol class="Rinfor">
										<li>
											<a class="titlecolor">-大马哈鱼。</a>
											<p class="txt_small">2017-07-16 13:37:21</p>
											<div>
												<p>望广东走在前沿</p>
											</div>
											<div class="edit fnt12"><span class="noZan" id="good_detail" onclick="likeReplyCommit(this,11732252)"><a href="javascript:void(0)">赞(<em>0</em>)</a> </span><span class="comment showComment comment02" id="showComment0">评论(0)</span></div>
										</li>
										<li class="comment msg_borad" style="margin-top: 25px; display:block" id="msgBorad_0"><b class="arrowTop"> </b>
											<ul class="m_top10 clearfix" id="comment11732252">
												<a href="javascript:void(0)" class="closeBorad"></a>
											</ul>
											<div class="clearfix">
												<form action="" class="replyForm">
													<div class="commentbox"><input name="content" class="comt_input InputSort" placeholder="回复  -大马哈鱼。：" id="comt_input0" lang="-大马哈鱼。" type="text"> <input name="replyId" value="11732252" id="replyId0" lang="11732252" type="hidden">
														<input class="buttonhuifu" value="回复" id="submit0" type="button"></div>
												</form>
											</div>
										</li>
									</ol>
								</ul>

							</article>

						</section>
					</article>
				</div>
			</article>
		</div>
    <!-- 站长统计 -->
	<div style="display:none">
	    <script src="https://s95.cnzz.com/stat.php?id=1258031328&web_id=1258031328" language="JavaScript"></script>
	</div>

	</body>

</html>