<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>重磅项目-项目动态</title>
	 <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" type="text/css" href="resources/pcCss/base.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/common.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/zbxm_common.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/zbxm_index_model_1.css" />
    <script src="resources/pcJs/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/Qnzs.js"></script>
    <script src="resources/pcJs/zbxm_common.js"></script>
    <script type="text/javascript" src="resources/pcJs/zbxm_index1.js"></script>
    <script type="text/javascript" src="resources/pcJs/jquery.SuperSlide.2.1.1.js"></script> 
    <script type="text/javascript" src="resources/pcJs/txthide.js"></script>
    <script type="text/javascript" src="resources/pcJs/qnzsPcCommon.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // 多行文字溢出隐藏
        $('.introduce').dotdotdot();
    });
    </script>
</head>
<body style="background:#eee;">
    <!-- 头部 -->
    <header class="header_box">
        <div class="w1200 header_content clearfix">
            <div class="logo fl"><a href="zbxm_index.html"></a></div>
            <ul class="fl clearfix header_nav">
                <li class="nav_li"><a href="zbxm_index.html">首页</a></li>
                <li class="nav_li"><a href="zbxm_index_detail.html">项目详情</a></li>
                <li class="nav_li cur"><a href="zbxm_index_trends.html">项目动态</a></li>
                <li class="nav_li participator_work"><a href="zbxm_index_team.html">参赛团队</a></li>
            </ul>
				<div class="fr header_box_r clearfix">
					<a href="../../index.html" class="link homepage fl"></a>
					<a href="../person_center/person_center.html" class="link login fl"></a>
				</div>
        </div>
    </header>
    <!-- banner -->
    <div class="banner_box">
        <div class="banner_center w1200" ></div>
    </div>

    <!-- 项目动态 -->
    <div class="dynamic_box trends">
        <div class="content w1200">
            <h1 class="content_title ">项目动态</h1>
            <div class="trends_box bgcWhite">
                <ul>
                   <li>
                        <a href="zbxm_index_trends_detail.html">
                           <div class="clearfix tr_box">
                               <div class="trends_box_l fl">
                                   <img src="resources/pcImages/dongtai_1.png"alt=""/>
                               </div>
                               
                               <div class="trends_box_r fl">
                                   <h4 class="font16 color000">浪漫夏日</h4>
                                   <p class="font14 color666 substance introduce">2012年9月9日，由腾讯开放平台发起的“应用创新大赛”中首档大型创业真人秀 《腾飞之役·创业季》正式启动。全新的形式一经推出就已经引起了业界的极大关注。在经历了两个半月的筹备后，11月29日《腾飞之役》携手深圳财经生活频道正式开始录制节目。</p>
                                   <p class="font12 color999">发布时间：2017年06月01日</p>
                               </div>
                           </div>
                        </a>
                   </li>
                   <li>
                        <a href="zbxm_index_trends_detail.html">
                           <div class="clearfix tr_box">
                               <div class="trends_box_l fl">
                                   <img src="resources/pcImages/dongtai_1.png"alt=""/>
                               </div>
                               
                               <div class="trends_box_r fl">
                                   <h4 class="font16 color000">浪漫夏日</h4>
                                   <p class="font14 color666 substance introduce">2012年9月9日，由腾讯开放平台发起的“应用创新大赛”中首档大型创业真人秀 《腾飞之役·创业季》正式启动。全新的形式一经推出就已经引起了业界的极大关注。在经历了两个半月的筹备后，11月29日《腾飞之役》携手深圳财经生活频道正式开始录制节目。</p>
                                   <p class="font12 color999">发布时间：2017年06月01日</p>
                               </div>
                           </div>
                       </a>
                   </li>
                   <li>
                        <a href="zbxm_index_trends_detail.html">
                           <div class="clearfix tr_box">
                               <div class="trends_box_l fl">
                                   <img src="resources/pcImages/dongtai_1.png"alt=""/>
                               </div>
                               
                               <div class="trends_box_r fl">
                                   <h4 class="font16 color000">浪漫夏日</h4>
                                   <p class="font14 color666 substance introduce">2012年9月9日，由腾讯开放平台发起的“应用创新大赛”中首档大型创业真人秀 《腾飞之役·创业季》正式启动。全新的形式一经推出就已经引起了业界的极大关注。在经历了两个半月的筹备后，11月29日《腾飞之役》携手深圳财经生活频道正式开始录制节目。</p>
                                   <p class="font12 color999">发布时间：2017年06月01日</p>
                               </div>
                           </div>
                        </a>
                   </li>
                   <li>
                        <a href="zbxm_index_trends_detail.html">
                           <div class="clearfix tr_box">
                               <div class="trends_box_l fl">
                                   <img src="resources/pcImages/dongtai_1.png"alt=""/>
                               </div>
                               
                               <div class="trends_box_r fl">
                                   <h4 class="font16 color000">浪漫夏日</h4>
                                   <p class="font14 color666 substance introduce">2012年9月9日，由腾讯开放平台发起的“应用创新大赛”中首档大型创业真人秀 《腾飞之役·创业季》正式启动。全新的形式一经推出就已经引起了业界的极大关注。在经历了两个半月的筹备后，11月29日《腾飞之役》携手深圳财经生活频道正式开始录制节目。</p>
                                   <p class="font12 color999">发布时间：2017年06月01日</p>
                               </div>
                           </div>
                       </a>
                   </li>
                </ul>
            </div>
            <div class="pageNumBox">
                <div class="pageNumCon clearfix">
                    <span class="prevPage pagePrevNext fl">上一页</span>
                    <div class="pageNum fl">
                        <a href="javascript:;" class="cur">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">6</a>
                        <a href="javascript:;">7</a>
                        <a href="javascript:;">8</a>
                        <a href="javascript:;">...</a>
                        <a href="javascript:;">100</a>
                    </div>
                    <span class="nextPage pagePrevNext fl">下一页</span>
                </div>
            </div>
        </div>
    </div>


    <!-- 底部 -->
    <footer class="conBgc01 colorfff font14">
        <a href="javascript:;" class="disB font14 colorfff">触屏版</a>
        <p>版权所有 copyright 2016 广东青年之声</p>
        <p>粤ICP备10214402号-4</p>
    </footer>
    <!-- 站长统计 -->
	<div style="display:none">
	    <script src="https://s95.cnzz.com/stat.php?id=1258031328&web_id=1258031328" language="JavaScript"></script>
	</div>
</body>
</html>