<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>重磅项目-首页</title>
     <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/base.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/common.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/zbxm_common.css" />
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js" ></script>
    <script src=bigDataUrl+"/browser/0110/crossdomain.js" type="text/javascript"></script><!---- 安全连接---->
    <script src="resources/pcJs/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/Qnzs.js"></script>
    <script src="resources/pcJs/zbxm_common.js"></script>
    <script type="text/javascript" src="resources/pcJs/zbxm_index1.js"></script>
    <script type="text/javascript" src="resources/pcJs/jquery.SuperSlide.2.1.1.js"></script> 
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--<script type="text/javascript" src=""></script>-->

</head>
<body>
    <!-- 头部 -->
    <header class="header_box">
        <div class="w1200 header_content clearfix">
            <div class="logo fl"><a href="zbxm_index.html"></a></div>
            <ul class="fl clearfix header_nav">
                <li class="nav_li cur"><a href="zbxm_index.html">首页</a></li>
                <li class="nav_li"><a href="zbxm_index_detail.html">项目详情</a></li>
                <li class="nav_li"><a href="zbxm_index_trends.html">项目动态</a></li>
                <li class="nav_li"><a href="zbxm_index_team.html">参赛团队</a></li>
            </ul>
            <div class="fr header_box_r clearfix">
                <a href="javascript:;" class="link homepage fl"></a>
                <a href="javascript:;" class="link login fl"></a>
            </div>
        </div>
    </header>
    <!-- banner -->
    <div class="banner_box">
        <div class="banner_center w1200"></div>
        <div class="info_rolling_box clearfix hasClose">
            <div class="fl rolling_content">
                <div class="rolling_list_box fl">
                    <ul class="rolling_list clearfix">
                        
                    </ul>
                </div>
                <span class="fl close_btn"></span>
            </div>
        </div>
        <script type="text/javascript">
        function info_rolling(){
        var html=''
        var num=5;
        for (var i = 0; i < num; i++) {
            html+='<li>'
            html+=' <span class="user_photo_box fl">'
            html+='  <span class="user_photo"><img src="resources/pcImages/pro02.png" /></span>'
            html+=' </span>'
            html+=' <span class="user_name fl">三笠阿克曼</span>'
            html+=' <p class="fl p">为蓝盾团队团队投了一票</p>'
            html+=' <span class="fl how_long">1秒前</span>'
            html+='</li>'
        };
        $('.rolling_list').append(html);
        }
        info_rolling();
        jQuery(".info_rolling_box").slide({
            mainCell:".rolling_list",
            effect:"leftMarquee",
            autoPlay:true,
            interTime:30,
            mouseOverStop:false
        });
        </script>
    </div>
    <!-- 项目动态 -->
    <div class="dynamic_box section_box">
        <div class="w1200 content clearfix">
            <div class="content_l fl">
                <div class="content_title_box clearfix">
                    <h1 class="content_title fl">项目动态</h1>
                    <a href="zbxm_index_trends.html" class="more_btn fr">MORE</a>
                </div>
                <div class="content_body clearfix">
                    <div class="content_body_con">
                        <div class="content_body_l fl">
                            <div class="picture_box">
                                <ul class="picture_list">
                                    
                                </ul>
                            </div>
                            <h1 class="under_title"><a href="javascript:;" class="under_title_txt">七中培正广外佛山外校深圳承翰</a></h1>
                        </div>
                        <script type="text/javascript">
                            function picture_list(){
                                var num=2;
                                var html=''
                                for(var i=0;i<num;i++){
                                    html+='<li>'
                                    html+=' <a href="javascript:;"><img src="resources/pcImages/123.png" class="picture" /></a>'
                                    html+='</li>'
                                }
                                $('.picture_list').append(html);
                            }
                            picture_list();
                            jQuery(".picture_box").slide({
                                mainCell:".picture_list",
                                effect:"leftLoop",
                                autoPlay:true,
                                autoPage:true,
                                interTime:3000,
                                delayTime:300,
                                trigger:"mouseover"
                            });
                        </script>
                        <div class="content_body_r fr">
                            <ul class="new_list">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_r fr">
                <div class="content_title_box clearfix">
                    <h1 class="content_title fl">活动介绍</h1>
                    <a href="zbxm_index_detail.html" class="more_btn fr">MORE</a>
                </div>
                <div class="content_body">
                    <div class="content_body_con">
                        <p>青年文明号是以青年为主体，在生产、经营、管理和服务中创建的体现高度职业文明，创造一流工作成绩的青年集体、青年岗位和青年工程。自1994年起共青团中央在全国开展了创建青年文明号活动，旨在组织和引导青年立足本岗位诚实劳动，文明从业，树立适应社会主义市场经济要求的敬业意识、创业精神和质量、效益、安全、竞争、服务等观念，在全社会展现当代青年的精神风貌，塑造行业和企事业单位的良好形象，倡导职业道德和职业文明。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 报名要求 -->
    <div class="section_box requirement_box" style="margin-top:45px;">
        <div class="content clearfix">
            <div class="w1200 content_title_box clearfix">
                <h1 class="content_title fl">报名要求</h1>
                <a href="zbxm_index_detail.html" class="more_btn fr">MORE</a>
            </div>
            <div class="requirement_list">
                <ul class="list clearfix"></ul>
            </div>
        </div>
    </div>
    <!-- 评选流程 -->
    <div class="section_box selection_process">
        <div class="content clearfix">
            <div class="w1200 content_title_box clearfix">
                <h1 class="content_title fl">评选流程</h1>
                <a href="zbxm_index_detail.html" class="more_btn fr">MORE</a>
            </div>
            <div class="process_list">
                <ul class="list clearfix"></ul>
            </div>
        </div>
    </div>
    <!-- 参赛者作品 -->
    <div class="section_box participator_work">
        <div class="content clearfix">
            <div class="w1200 content_title_box clearfix">
                <h1 class="content_title fl">参赛者作品</h1>
                <a href="zbxm_index_team.html" class="more_btn fr">MORE</a>
            </div>
            <div class="select_work w1200 clearfix">
                <div class="select_work_l fl clearfix">
                    <span class="select_title fl cur">团队</span>
                    <span class="select_title fl">个人</span>
                    <select class="select">
                        <option value="">天河</option>
                        <option value="">越秀</option>
                        <option value="">白云</option>
                    </select>
                    <select class="select">
                        <option value="">培训</option>
                        <option value="">运动</option>
                    </select>
                    <select class="select">
                        <option value="">最近</option>
                        <option value="">一个月内</option>
                    </select>
                </div>
                <div class="select_work_r fr">
                    <input type="text" class="search fl" placeholder="请输入关键字" />
                    <span class="search_btn fl"></span>
                </div>
            </div>
            <div class="work_show_box">
                <ul class="work_list clearfix team"></ul>
                <ul class="work_list clearfix person"></ul>
            </div>
        </div>
    </div>
    <!-- 讨论区及奖品设置 -->
    <div class="section_box discuss_prize">
        <div class="content clearfix w1200">
            <div class="content_left fl">
                <div class="content_title_box clearfix">
                    <h1 class="content_title fl">大家都在讨论</h1>
                    <a href="javascript:;" class="more_btn fr">MORE</a>
                </div>
                <div class="discuss_box">
                    <ul class="discuss_list clearfix"></ul>
                    <div class="load_more">加载更多</div>
                </div>
            </div>
            <div class="content_right fr">
                <div class="content_title_box clearfix">
                    <h1 class="content_title fl">奖项设置</h1>
                    <a href="javascript:;" class="more_btn fr">MORE</a>
                </div>
                <div class="prize_box">
                    <ul class="prize_list clearfix">
                        <li class="item">
                            <div class="item_con">
                                <div class="prize_bg"></div>
                                <h1 class="prize_rank">一等奖</h1>
                                <p class="prize_show">150平米豪宅一套</p>
                                <span class="disB prize_man_num">10名</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item_con">
                                <div class="prize_bg"></div>
                                <h1 class="prize_rank">二等奖</h1>
                                <p class="prize_show">150平米豪宅一套</p>
                                <span class="disB prize_man_num">10名</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item_con">
                                <div class="prize_bg"></div>
                                <h1 class="prize_rank">三等奖</h1>
                                <p class="prize_show">150平米豪宅一套</p>
                                <span class="disB prize_man_num">10名</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="item_con">
                                <div class="prize_bg"></div>
                                <h1 class="prize_rank">四等奖</h1>
                                <p class="prize_show">150平米豪宅一套</p>
                                <span class="disB prize_man_num">10名</span>
                            </div>
                        </li>
                    </ul>
                    <div class="phone_box">
                        <div class="phone_text">
                            <p class="title">联系电话</p>
                            <p class="phone_number">020 - 5200 5200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 赞助商、合作伙伴 -->
    <div class="section_box sponsor_partner">
        <div class="content w1200">
            <div class="content_title_box clearfix">
                <h1 class="content_title fl">黄金赞助商</h1>
            </div>
            <div class="support_list clearfix">
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_lazy.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_intel.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_tencent.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_163.png" /></a></li>
            </div>
            <div class="content_title_box clearfix">
                <h1 class="content_title fl">合作伙伴</h1>
            </div>
            <div class="partner_list clearfix">
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_baidu.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_sina.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_huaban.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_google.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_UC.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_cloudMusic.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_zcool.png" /></a></li>
                <li class="item"><a href="javascript:;"><img src="resources/pcImages/support_alibaba.png" /></a></li>
            </div>
        </div>
    </div>
    <!-- 右侧悬浮导航 -->
    <div class="body_right_nav">
        <ul class="nav">
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">我要报名</span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">投票指引</span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">报名指引</span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">下载附件</span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">我要报名</span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:;" class="item_con">
                    <span class="item_con_txt">举报</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 底部 -->
    <footer class="conBgc01 colorfff font14">
        <a href="javascript:;" class="disB font14 colorfff">触屏版</a>
        <p>版权所有 copyright 2016 广东青年之声</p>
        <p>粤ICP备10214402号-4</p>
    </footer>
    <!-- 站长统计 -->
	<div style="display:none">
	    <script src="https://s95.cnzz.com/stat.php?id=1258031328&web_id=1258031328" language="JavaScript"></script>
	</div>
</body>
</html>