<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>青年之声-问组织详情</title>
    <meta http-equiv= "X-UA-Compatible" content = "IE=edge,chrome=1"/>
     <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" type="text/css" href="resources/pcCss/base.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="resources/pcCss/webuploader.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="resources/pcCss/webupload_main.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="resources/pcCss/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="resources/pcCss/qnzs_zzx_wenzuzhixiangqing.css" />-->
    <!--<script type="text/javascript" src="resources/pcJs/jquery-1.11.1.min.js"></script>-->
    <!--<script type="text/javascript" src="resources/pcJs/webuploader.js"></script>-->
    <!--<script type="text/javascript" src="resources/pcJs/upload.js"></script>-->
    <!--<script type="text/javascript" src="resources/pcJs/qnzsPcCommon.js"></script>-->
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <!--<link rel="stylesheet" type="text/css" href="../../public/vendor/layer/layer.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="../../public/vendor/layer/laypage.css" />-->
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/findConsult.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/webupload_main.css" />
    <link rel="stylesheet" type="text/css" href="../../public/custom/page.css" />
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js" ></script>
    
    <style>
        .answered .content .list li.listBox:nth-child(odd){margin-right: 30px!important;}
    </style>
</head>
<body class="bodyPt96 wzjDetail">
   <!--插入公共头部-->
     <!-- 面包屑导航 -->
     <div class="breadcrumbs">
         <div class="content w1200 clearfix">
             <a href="javascript:;">首页&nbsp;&nbsp;</a><span>&gt;&nbsp;&nbsp;</span>
             <a href="javascript:;">找咨询&nbsp;&nbsp;</a><span>&gt;&nbsp;&nbsp;</span>
             <a href="javascript:;">问组织&nbsp;&nbsp;</a><span>&gt;&nbsp;&nbsp;</span>
             <a href="javascript:;" id="nav_orgName"></a>
         </div>
     </div>

     <!-- 组织介绍 -->
    <div class="proPersonalIntro bgcWhite zuzhijieshao">
         <div class="content w1200 clearfix">
             <div class="leftBox fl">
                 <div class="imgDiv">
                     <div class="imgBox">
                         <img src="" id="exp_photoUrl"  />
                     </div>
                     <h3 class="color000 font18" id="orgName"></h3>
                 </div>
             </div>
             <div class="rightBox fr">
                 <div class="top font14 borderB01">
                     <div class="div01 clearfix color000">
                         <span class="fl">地点：&nbsp;</span>
                         <p class="fl" id="address"></p>
                     </div>
                     <div class="div02 clearfix  color000">
                         <span class="fl">电话：&nbsp;</span>
                         <p class="fl" id="telephone"></p>
                     </div>
                 </div>
                 <p class="middle font14 color000" id="description"></p>
                 <div class="bottom clearfix">
                     <span id="wzz_detail_ask" class="fl font18 ask colorfff tiwenBtn">向TA提问</span>
                     <span href="javascript:;" class="fl font18 guanzhu" id="wzzxqAttention"><span>关注</span></span>
                     <span href="javascript:;" class="fl font18 guanzhu" id="wzzxqHaveAttention" style="display:none;"><span>取消关注</span></span>
                     <span class="fl color000 font14"><span id="attentionCount"></span>人关注</span>
                 </div>
             </div>
         </div>
    </div>

    <!-- 已解答问题列表 -->
    <div class="answered ask_and_answer">
        <div class="content w1200">
            <h3 class="font16 color2185cf">已解答<span id="answerQuestionCount"></span>个问题</h3>
            <div class="list clearfix">
                <div class="pageBoxList">
                    <div class="list list01 bgcWhite" id="quesList">
                        <!--列表开始-->

                        <!--列表结束-->
                    </div>
                    <!--<div class="notContent hide">-->
                        <!--<div class="error_wrap">囧~没有搜到相关信息哦</div>-->
                    <!--</div>-->
                    <!--<div class="page">-->
                        <!--<ul class="pageMenu clearfix">-->
                            <!--<li class="firstPage">首页</li>-->
                            <!--<li class="prevPage"> < 上一页 </li>-->
                            <!--<div class="pageObj ">-->

                            <!--</div>-->
                            <!--<li class="nextPage"> 下一页 > </li>-->
                            <!--<li class="lastPage">尾页</li>-->
                            <!--<li class="last" style="font-size: 14px;">-->
                                <!--共<span class="totalPage"></span>页，跳转至 <input type="number" class="keuInput" value="1">-->
                                <!--<button type="button" class="btnSure">确定</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- -弹窗 -->
    <div class="bg_black zzxIndex">
        <div class="list_tanchuang">
            <div class="list_tanchuang_t conBgc01 clearfix">
                <span class="name font14 fl">向<em class=" colorfff" id="exp_title"></em>提问</span>
                <span class="delete fr"></span>
            </div>

            <div class="list_tanchuang_b bgcWhite clearfix">
                <div class="content_l fl">
                    <div class="huati_fenlei clearfix">
                        <label for="name" class="fnt14 color333 ">话题分类</label>
                        <select name="" id="quesCategory" class="color999 fenlei_box border01">
                            <!--<option value="">所有</option>-->
                            <!--<option value="">广州</option>-->
                        </select>
                    </div>

                    <div class="question">
                        <label for="name" class="fnt14 color333">您的问题</label>
                        <input id="quesTitle" type="text" placeholder="(5-49个字)" class="border01" />
                    </div>
                    <div class="wenti_shuoming clearfix">
                        <span class="fnt14 color333 fl right_txt">问题说明</span>
                        <!-- <textarea id="editorContent" name="content"></textarea> -->
                        <!--<textarea id="editorContent"></textarea>-->
                        <div id="editor" style="width: 650px; display: inline-block;"></div>
                    </div>
                <!-- 上传图片 uploadPreview -->
                    <div class="imgMain clearfix uploading">
                        <div class="imgL clearfix">
                            <div class="uploading_l fl">
                                <p class="font14 color333">上传图片</p>
                                <p class="font12 color999 uploading_num">(最多8张)</p>
                            </div>
                            <div id="wrapper" class="fl">
                                <div id="container">
                                    <div id="uploader">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div id="filePicker"></div>
                                                <p>或将照片拖到这里，单次最多可选8张</p>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display:none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div><div class="info"></div>
                                            <div class="btns">
                                                <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="imgUrl" style="display: none;"></div>
                    <a href="javascript:;" id="submit_help" class="sure conBgc01 colorfff font14">确认</a>
                </div>

                <!-- 专家信息 -->
                <div class="content_r fr">
                    <div class="zhuanjia_head">
                        <img src="" alt="" id="tw_photoUrl"/>
                    </div>
                    <h3 class="color000 font16" id="tw_name"></h3>
                    <!-- <p class="font14 color999">国家二级心理咨询师</p> -->
                    <div class="clearfix zhuanjia_box">
                        <span class="fl zhuanjia_box_l borderR01">
                            <p class="font22 color000" id="tw_answerQuestionCount"></p>
                            <p class="font12 color000">已解答问题</p>
                        </span>
                        <span class="fl zhuanjia_box_l borderR01">
                            <p class="font22 color000" id="tw_attentionCount"></p>
                            <p class="font12 color000">关注</p>
                        </span>
                    </div>
                    <!-- <button href="" class="chakan conBgc01 colorfff font14">查看</button> -->
                </div>
            </div>
        </div>

    </div>
<!--插入公共底部-->
</body>
</html>
<script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
<!--对话框-->
<script type="text/javascript" src="../../public/custom/dialog.js"></script>
<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
<script type="text/javascript" src="../../public/vendor/wangEditor-3.0.3/wangEditor.js"></script>
<script type="text/javascript" src="../../public/js/module/Utils.js"></script>
<script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
<script type="text/javascript" src="../../public/js/ajax/ajax.js"></script>
<script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
<script type="text/javascript" src="../../public/js/find_consult/find_consult_wzz_detail.js"></script>
<script type="text/javascript" src="../../public/vendor/xss/xss.js"></script>
<script type="text/javascript" src="../../public/vendor/webuploader/webuploader.js"></script>
<script type="text/javascript" src="../../public/vendor/webuploader/upload.js"></script>
<!--分页 js-->
<script type="text/javascript" src="../../public/custom/page.js"></script>
<!--公共头部和底部-->
<script type="text/javascript" src="../../public/custom/common.js"></script>
<script type="text/javascript" src="../../public/js/common/qnzsPcCommon.js"></script>
<script type="text/javascript">
//    function hotAsk(){
//        var html='';
//        var num=6;
//        for (var i = 0; i < num; i++) {
//            html+='<div class="listBox">'
//            html+=' <a href="javascript:;" class="itemBox bgcWhite disB">'
//            html+='  <div class="itemCon clearfix">'
//            html+='   <div class="imgDiv fl">'
//            html+='    <img src="resources/pcImages/person01.png">'
//            html+='   </div>'
//            html+='   <div class="rightTxt">'
//            html+='    <h3>如何更好的去忘掉一个人？</h3>'
//            html+='    <p class="middleP oneMarginTopBot">哔哩吧啦哔哩吧啦</p>'
//            html+='    <div class="botBox clearfix">'
//            html+='     <div class="left fl">'
//            html+='      <span class="span01 borderR01">桃子</span>'
//            html+='      <span class="span02">情感婚恋</span>'
//            html+='      <span class="span03">2016-09-20</span>'
//            html+='     </div>'
//            html+='     <span class="right fr color333 pinglun">317</span>'
//            html+='    </div>'
//            html+='   </div>'
//            html+='  </div>'
//            html+=' </a>'
//            html+='</div>'
//        };
//        $('.answered .list').append(html);
//        $('.answered .listBox:even').addClass('marginR30');
//    }
//    hotAsk();

//关注
    $('.rightBox .bottom .guanzhu').click(function(){
        $(this).hide().siblings('.guanzhu').show();
    })
</script>