@charset "UTF-8";

.fl{float: left;}
.fr{float: right;}
.padding_com_one{padding:0 0.6rem;}

/* 顶部标题栏 */
#header{background-color:#393a3f;height:1.92rem;line-height:1.92rem;color:#fff;text-align: center;font-size:0.64rem;}

/* ----------登录注册找回密码-共用---------- */
.login_register .section_common .max_tit{color:#2185cf;font-size:0.56rem;line-height:0.8rem;text-align: center;margin-bottom:0.9rem;}
.login_register .section_common{padding-top:2.28rem;}

.login_register .input_common_box{margin-bottom:1.6rem;}
.login_register .input_common_box .ipt{border-bottom:1px solid #e8e8e8; }
.login_register .input_common_box input{height:2rem;line-height:2rem;font-size:0.6rem;width:68%;}
.login_register .input_common_box .pwd{padding-right:0.9rem;position: relative;}
.login_register .input_common_box .pwd .seebox{position: absolute;width:0.9rem;height:2rem;right:0;top:0;}
.login_register .input_common_box .pwd .see{position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:0.84rem;height:0.56rem;background:url(../../../img/login-register/sp1.png) no-repeat;background-size:6rem;background-position:-0.12rem -0.16rem;}
.login_register .input_common_box .pwd.nosee .see{background-position:-1.06rem -0.16rem;}
.login_register .submit_btn{color:#fff;font-size:0.64rem;text-align: center;border-radius:0.8rem;background-color:#ccc;height:1.6rem;line-height:1.6rem;}
.login_register .submit_btn.sub{background-color: #2185cf;}
.login_register .links{padding:0 0.68rem;margin:0.6rem 0 2.4rem;}
.login_register .links .link{color:#2185cf;font-size:0.48rem;}
.login_register .other_login{position: relative;height:0.74rem;line-height:0.74rem;font-size:0.56rem;color:#999;text-align: center;}
.login_register .other_login .title{margin-bottom:0.9rem;}
.login_register .other_login .line{position: absolute;top:50%;transform:translateY(-50%);width:3.08rem;height:0.1rem;background:url(../../../img/login-register/sp1.png) no-repeat;background-size:6rem;}
.login_register .other_login .line.l{left:1.78rem;background-position:-2.06rem -0.12rem;}
.login_register .other_login .line.r{right:1.78rem;background-position:-2.06rem -0.34rem;}
.login_register .other_login .login_link{box-sizing:border-box;width:50%;float: left;}
.login_register .other_login .login_link.l{padding-left:3.6rem;}
.login_register .other_login .login_link.r{padding-left:1.68rem;}
.login_register .other_login .login_link>a{display:block;width:1.6rem;padding-top:1.6rem;height:1.06rem;line-height:1.06rem;font-size:0.48rem;color:#999;background-size:1.6rem;background-repeat:no-repeat;}
.login_register .other_login .login_link.l>a{background-image: url(../../../img/login-register/wechat.png);}
.login_register .other_login .login_link.r>a{background-image: url(../../../img/login-register/yihaot.png);}
.login_register .other_login .logins{margin-bottom:1.6rem;}
.login_register .other_login .what{text-align: center;}
.login_register .other_login .what a{font-size:0.48rem;color:#2185cf;}

/* ----------登录注册找回密码-共用 end---------- */
