<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>第二课堂-未有成绩单</title>
    <link rel="stylesheet" type="text/css" href="../../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/second_classroom.css" />
    <script type="text/javascript" src="../../public/js/module/Qnzs.js">
    	
    </script>
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body class="bgcWhite">
    <section class="report_card_box no_report">
        <div class="up_txt p_0_30">
            <p class="fz24 color333 mb20">1、您暂无第二课堂成绩单，请到找 <a href="../find_active/hd_zhaohuodong.html" class="link color2185cf">活动中</a> 报名参与第二课堂活动吧！</p>
            <p class="fz24 color333 mb20">2、若您参加了第二课堂活动依然没有成绩单，请联系所在学校/学院管理员。</p>
        </div>
        <div class="btn_box">
            <ul class="btn_list clearfix">
                <li class="item fl"><a href="../find_active/hd_zhaohuodong.html" class="btn">去找活动</a></li>
                <li class="item fl"><a href="javascript:;" class="btn">给管理员发私信</a></li>
            </ul>
        </div>
    </section>
</body>
</html>