<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>青年之家-首页</title>
    <meta http-equiv= "X-UA-Compatible" content = "IE=edge,chrome=1"/>
     <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <!--分页插件css-->
    <link rel="stylesheet" type="text/css" href="../../public/custom/page.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/young_family/station_map.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/young_family/yuyuefuwu_tanchuang.css" />
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js" ></script>
    
    <!--百度地图-->
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=ggGhWZ8zW5mGMOYCohgWNRER5m76Hxfz"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <!--对话框-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <!--引入公共头部、尾部-->
    <script src="../../public/custom/common.js"></script>
    <script src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/ajax/ajax.js"></script>
    <script src="../../public/js/module/YoungFamilyApi.js"></script>
    <!--分页插件 js-->
    <script type="text/javascript" src="../../public/custom/page.js"></script>
    <script type="text/javascript" src="../../public/js/common/route_map.js"></script>
</head>
<body class="bodyPt96">


<div id="l-map" style="width: 100%;height: 700px;"></div>

   

</body>
</html>
<script src="../../public/js/module/Utils.js"></script>