
/* --------------热门标签-------------
---------------------- */
.hot_tag .title,
section.nearbySite .title { line-height: 1.56rem; border-bottom: 1px solid #e8e8e8; }
.hot_tag .content,
.lists { padding: 0.4rem; }
.hot_tag .content .ul01 li { width: 25%; }
.hot_tag .content .ul02 li { width: 33.3%; }
.hot_tag .content ul li a,
.lists ul li a { display: block; padding: 0.2rem; }
.hot_tag .content ul li a div,
.lists ul li a div.divout { border-radius: 0.2rem; line-height: 1.36rem; text-align: center; width: 100%; }
/* ---------------心理咨询等分项--------------------
-------------------------------- */
.lists ul li { width: 50%; }
.lists ul li a div.divout { line-height: 1.28rem; border: 1px solid #e8e8e8; }
.lists ul li a div.divout .divin { display: inline-block; height: 1.28rem; background: url(../../img/xxfwIcon01.png) no-repeat left center; background-size: 0.8rem; width: 52%; margin: 0 auto; }
.lists ul li a div.divout .divin h6 { padding-left: 1.2rem; text-align: left; }
/* ---------------------------服务站点----
------------------------ */
section.nearbySite .content .item { padding: 0.5rem 0 0.3rem; }
section.nearbySite .content .item.borderBot { border-bottom: 1px solid #f0f0f0; }
section.nearbySite .content .item .left { padding-top: 0.12rem; }
section.nearbySite .content .item .left .imgDiv { width: 2.5rem; height: 2.5rem; border-radius: 50%; overflow: hidden; }
section.nearbySite .content .item .left .imgDiv img { width: 2.5rem;height: 2.5rem;}
section.nearbySite .content .item .right { padding-left: 3.1rem; }
section.nearbySite .content .item .right .up h3 { line-height: 0.8rem; }
section.nearbySite .content .item .right .score { padding: 0.28rem 0; line-height: 0.48rem; height: 0.48rem; }
section.nearbySite .content .item .right .score ol li { width: 0.46rem; height: 0.44rem; margin-right: 0.06rem; background: url(../../img/star_2.png) no-repeat center center; background-size: 100%; }
section.nearbySite .content .item .right .score ol li.cur { background-image: url(../../img/star_1.png); }
section.nearbySite .content .item .right .score .span01 { padding-left: 0.3rem; }
section.nearbySite .content .item .right .score .span02 { padding-left: 0.4rem; }
section.nearbySite .content .item .right .guanzhu { padding: 0.14rem 0 0.44rem; line-height: 0.48rem; }
section.nearbySite .content .item .right .up { border-bottom: 1px solid #f0f0f0; }
section.nearbySite .content .item .right .down { padding: 0.24rem 0.6rem 0.24rem 0; }
section.nearbySite .content .item .right .down p { width: 70%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/*分类服务站点*/
.teenager h2 {
    line-height: 1.56rem;
    border-bottom: 1px solid #e8e8e8;
}

#banner{ position: relative; }
#banner .hd{ position: absolute; right:1rem; bottom:0.5rem; z-index:99; }
#banner .hd li{ float:left; width:0.4rem; height:0.1rem; border-radius:0.2rem; background-color: #d1d6df; text-indent: 999px; overflow: hidden; margin:0 0.2rem; }
#banner .hd li.on{ background-color: #2185cf; width:0.6rem; }
#banner .bd ul li a {
    width: 15rem;
    height: 5.625rem;
    line-height: 5.625rem;
    font-size: 0;
    text-align: center;
}
#banner .bd ul li a img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

