/* --------------顶部图片文字-----
----------------------------- */
.headTxt { padding-left: 0.6rem;background: #fff; }
.headTxt .item { padding: 0.6rem 0.6rem 0.6rem 0; border-bottom: 1px solid #e2e2e2; }
.headTxt .item .left { width: 4rem; height: 3.2rem;line-height: 3.2rem; text-align: center; font-size: 0; background: #f0f0f0; overflow: hidden; }
.headTxt .item .left img { max-width: 100%; max-height: 100%; display: inline; vertical-align: middle; }
.headTxt .item .right { padding-left: 4.48rem; }
.headTxt .item .right h2 { font-size: 0.6rem; line-height: 0.68rem; }
.headTxt .item .right .score { padding-top: 0.6rem; height: 0.48rem; line-height: 0.48rem; }
.headTxt .item .right .score ul li { width: 0.46rem; height: 0.44rem; margin-right: 0.1rem; background: url(../images/star_2.png) no-repeat; background-size: 100%; }
.headTxt .item .right .score ul li.cur { background-image: url(../images/star_1.png); }
.headTxt .item .right .score .fenshu { color: #ff8814; font-size: 0.48rem; padding-left: 0.24rem; }
.headTxt .item .right .score .commented { font-size: 0.48rem; padding-left: 0.4rem; }
/* ---------------------------关注人数----------------------------
=------------------------------ */
section.yugao { border-bottom: 1px solid #e8e8e8; padding: 0.3rem 0.6rem; margin-bottom: 0.4rem; }
section.yugao a { padding: 0.18rem 0.52rem; background-color: #2185cf; color: #fff; border-radius: 0.1rem; font-size: 0.48rem; }
section.yugao span { line-height: 0.96rem; font-size: 0.52rem; }
/* -----------------<!-- 地址、联系等等 -->---
 ------------------- */
.lianxi .divout { border-top: 1px solid #e8e8e8; }
.lianxi .divout.phoneAndAddress { margin-bottom: 0.4rem; }
.lianxi .divout .divin,
a.divin { border-bottom: 1px solid #e8e8e8; padding: 0.48rem 0.6rem; display: block; }
.lianxi .divout .divin p,
a.divin p { font-size: 0.6rem; padding-left: 0.64rem; }
.lianxi .divout .divin .arrow,
section.holder .title .imgDiv,
a.divin .arrow { width: 0.28rem; padding-top: 0.2rem; }
.lianxi .divout .divin .arrow img,
a.divin .arrow img { width: 100%; }
.lianxi .divout.phoneAndAddress .time .imgDiv,
a.divin .imgDiv { padding-top: 0.06rem; }
.lianxi .divout.phoneAndAddress .phone .imgDiv { padding-top: 0.14rem; }
.lianxi .divout.phoneAndAddress img,
a.divin .imgDiv img { width: 0.6rem; }
/* ----------------此乃长长的文字@#￥%TYU ---------------
----------------------------- */
.act_introduction { margin-bottom: 0.4rem; }
.act_introduction .content { padding: 0.4rem 0.6rem 0.48rem; border-bottom: 1px solid #e8e8e8; }
.act_introduction .content p { line-height: 0.8rem; font-size: 0.48rem; text-indent: 0.96rem; }
/* -=-------我要提问 -------
-------*/
.I_want_to_ask { padding: 0 0.6rem; margin-bottom: 1.2rem; }
.I_want_to_ask a { display: block; text-align: center; line-height: 1.6rem; color: #fff; font-size: 0.68rem; background-color: #2185cf; border-radius: 0.1rem; }
.I_want_to_ask button{ display: block; text-align: center; line-height: 1.6rem; color: #fff; font-size: 0.68rem; background-color: #2185cf; border-radius: 0.1rem;width: 100%; }
