<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>重磅项目-后台管理-浮窗</title>
    <link rel="stylesheet" type="text/css" href="resources/pcCss/base.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/common.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/zbxm_CMS_detail.css" />
    <link rel="stylesheet" type="text/css" href="resources/pcCss/zbxm_CMS_index.css" />

    <script src="resources/pcJs/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/module/Qnzs.js"></script>
    <script src="resources/pcJs/zbxm_CMS_index.js"></script>
</head>
<body class="bgcWhite">
    <div class="inner_box" id="htfuchuang">
                
        <!--投票指引板块 -->
        <div class="poll clearfix mar_b30 htBlock">
            <h3 class="fl font14 color333">投票指引</h3>
            <div class="fl">
                <div class="key_box"><a href="javascript:;" class="key add">添加</a><a href="javascript:;" class="key confirm" style="display:none">确定</a><a href="javascript:;" class="key cancel" style="display:none">取消</a><a href="javascript:;" class="key check" style="display:none">查看</a></div>
                <div class="poll_box pad_30 mar_t20 bgcgrey" style="display:none">
                    <textarea></textarea>                                            
                </div>                
            </div>            
        </div>

        <!--报名指引板块 -->
        <div class="name clearfix mar_b30 htBlock">
            <h3 class="fl font14 color333">报名指引</h3>
            <div class="fl">
                <div class="key_box"><a href="javascript:;" class="key add">添加</a><a href="javascript:;" class="key confirm" style="display:none">确定</a><a href="javascript:;" class="key cancel" style="display:none">取消</a><a href="javascript:;" class="key check" style="display:none">查看</a></div>
                <div class="name_box pad_30 mar_t20 bgcgrey" style="display:none">
                    <textarea></textarea>                                            
                </div>                
            </div>            
        </div>

        <!--下载附件板块 -->
        <div class="attachment clearfix htBlock">
            <h3 class="fl font14 color333">下载附件</h3>
            <div class="fl">
                <div class="key_box"><a href="javascript:;" class="key add">添加</a><a href="javascript:;" class="key confirm" style="display:none">确定</a><a href="javascript:;" class="key cancel" style="display:none">取消</a><a href="javascript:;" class="key check" style="display:none">查看</a></div>
                <div class="attachment_box pad_30 mar_t20 bgcgrey" style="display:none">
                    <textarea></textarea>                                            
                </div>                
            </div>            
        </div>

 
        <!-- 按钮 -->
        <div class="btn_box">
            <div class="clearfix">
                <a href="javascript:;" class="fabu conBgc01 font16 colorfff fl">发布</a>
                <a href="javascript:;" class="yulan font16 colorfff fl">预览</a>
                <a href="javascript:;" class="cancel font16 colorfff fl">取消</a>
            </div>
        </div>

    </div>

    
</body>
</html>