body{background-color: #fff;}
/* 顶部logo、导航等。。 */ 
.header_box{background-color: #eee;}
.header_box .header_content{height:60px;}
.header_box .logo{padding-top:15px;margin-right:193px;}
.header_box .logo a{display: block;height:32px;background:url(../../img/zbxm_main_list/head-logo2.png) no-repeat left center;width:180px;}
.header_box .header_nav{padding-top:15px;}
.header_box .nav_li{float: left;margin-right:15px;}
.header_box .nav_li a{display: block;height:35px;line-height:35px;text-align: center;color:#333;font-size:14px;border-radius:17px;padding:0 20px;}
.header_box .nav_li:hover a,
.header_box .nav_li.cur a{color:#fff;background-color: #1677bf;}
.header_box_r{padding-top:10px;}
.header_box .header_box_r .link{width:40px;height:40px;margin-right:15px;}
.header_box_r .link:last-child{margin-right:0;}
.header_box_r .homepage{background-image: url(../../img/zbxm_homepage.png);}
.header_box_r .login{background-image: url(../../img/zbxm_login.png);}
/* banner */
.banner_box{height:360px;background-color: #1677bf;position: relative;}
.banner_box .banner_center{  width: 1200px;  height:386px;position: absolute;left:50%;margin-left:-600px; /*background: url(../../img/act03.png) no-repeat 0 0 ;*/  background-size:100% 100% ;}
.banner_box .info_rolling_box{position: absolute;background-color:rgba(0,0,0,.2);padding:0 17px 0 25px;height:50px;border-radius:25px;top:30px;left:50%;margin-left:200px;}
.banner_box .rolling_content{padding:10px 0;line-height:30px;}
.banner_box .rolling_list_box{width:344px;overflow: hidden;}
.banner_box .rolling{line-height:30px;}
.banner_box .rolling_content .user_photo_box{padding-left:10px;margin-right:20px;}
.banner_box .rolling_content .user_photo{display: block;width:30px;height:30px;border-radius:50%;overflow: hidden;}
.banner_box .rolling_content .user_photo img{width:100%;height:100%;}
.banner_box .rolling_content .user_name{color:#fff;width:60px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;margin-right:10px;}
.banner_box .rolling_content .p{font-size:14px;color:#333;margin-right:10px;width:160px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.banner_box .rolling_content .how_long{color:#fff;}
.banner_box .close_btn{width:0;height:30px;background:url(../../img/zbxmCloseBtn.png) no-repeat center center;cursor:pointer;margin-left:0;}
/* ----各板块共用部分----- */
.section_box .content_title_box{margin-bottom:10px;}
.section_box .content_title_box.content_last{margin-bottom:20px;}
.section_box .content_title_box .content_title{font-size:22px;line-height:35px;height:35px;color:#010201cc;padding-left:50px;background-repeat:no-repeat;background-position:left center;font-weight: bold;}
.section_box .content_title_box  .unit_list{font-size: 16px; line-height: 36px; margin-left: 36px;}
.more_btn{width:90px;height:35px;line-height:35px;border-radius:17.5px;border:1px solid #ccc;color:#999;text-align: center;}
.more_btn:hover{background-color: #ff8814;color:#fff;border:1px solid  #ff8814;}
.more_btn.cur{background-color: #ff8814;color:#fff;border:1px solid  #ff8814;}
/* 项目动态板块 */
.section_box.dynamic_box{margin-top:60px;}
.section_box.dynamic_box .content_l{width:702px;}
.section_box.dynamic_box .content_l .content_title{background-image: url(../../img/zbxm_dy_icon.png);}
.section_box.dynamic_box .content_body{background-color: #eee;height:300px;}
.section_box.dynamic_box .content_l .content_body_con{padding:36px 30px 0 36px;}
.section_box.dynamic_box .content_body .picture_box{width:280px;height:200px;}
.section_box.dynamic_box .content_body .picture_box .picture{width:100%;height:200px;}
.section_box.dynamic_box .content_body .under_title{padding:20px 0;}
.section_box.dynamic_box .content_body .under_title_txt{display: block;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;font-weight: bold;width:280px;text-align: center;display: block;font-size:18px;color:#333;}
.section_box.dynamic_box .content_body_r .news_item{padding:12px 0;margin-bottom:10px;}
.section_box.dynamic_box .content_body_r .news_item a{display: block;line-height:14px;height:14px;font-size:14px;color:#333;padding-left:18px;background:url(../../img/news_list_dot.png) no-repeat left center;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;width:312px;}
.section_box.dynamic_box .content_r{width:456px;background-color:transparent;height:auto;}
.section_box.dynamic_box .content_r .content_title{background-image: url(../../img/zbxm_dy_icon2.png);}
.section_box.dynamic_box .content_r .content_body_con{padding:23px 36px 0;}
.section_box.dynamic_box .content_r .content_body p{font-size:14px;color:#333;text-align:left;line-height:24px;}
/* 报名要求 板块*/
.section_box.requirement_box .content_title{background-image: url(../../img/zbxm_re_icon.png);}
.section_box.requirement_box .requirement_list,
.section_box.selection_process .process_list{text-align: center;font-size:0;}
.section_box.requirement_box .list,
.section_box.selection_process .list{display:inline-block;}
.section_box.requirement_box .list .item{float: left;width:208px;height:208px;border-radius:50%;border:1px solid#e8e8e8;margin-right:40px;}
.section_box.requirement_box .list .item_con{padding-top:30px;}
.section_box.requirement_box .list .item_con_num{height:70px;background-repeat:no-repeat;background-position:center center;}
.section_box.requirement_box .list .item_con_txt
{
	
	line-height:25px;color:#666;font-size:14px;padding:0 36px;text-align: center;
	 width: 131px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 10;
    -moz-box-orient: vertical;
}
/* 评选流程 板块 */
.section_box.selection_process{margin-top:100px;padding-bottom:50px;}
.section_box.selection_process .content_title{background-image: url(../../img/zbxm_pxlc_icon.png);}
.section_box.selection_process .item{float: left;width:208px;height:308px;border:1px solid #e8e8e8;border-radius:80px 0 80px 0;margin-right:40px;}
.section_box.selection_process .item_con{font-size:14px;position: relative;height:100%;}
.section_box.selection_process .item_con_num{margin-bottom:20px;position: relative;padding-top:24px;}
.section_box.selection_process .item_con_num .bg{margin:0 auto;}
.section_box.selection_process .item_con_num .year{position: absolute;left:50%;width:50px;height:23px;line-height:23px;margin-left:-25px;background-color: #ccc;border-radius:11.5px;top:94px;text-align: center;color:#333;}
.section_box.selection_process .item_con .process_text{line-height:21px;color:#666;padding:0 22px;text-align:left;}
.section_box.selection_process .item_con .process_date{position: absolute;bottom:20px;color:#333;font-weight: bold;padding:0 22px;line-height:14px;}
/* 参赛者作品 */
.participator_work{background-color: #eee;}
.participator_work .content_title_box{padding-top:48px;}
.participator_work .content_title{background-image: url(../../img/zbxmParWork.png);}
.participator_work .select_work{margin-bottom:25px;}
.participator_work .select_work_l>*{margin-right:10px;line-height:35px;height:35px;border-radius:17.5px;font-size:14px;}
.participator_work .select_title{width:90px;background-color: #ccc;color:#333;text-align: center;cursor:pointer;}
.participator_work .select_title.cur{background-color: #ff8814;color:#fff;}
.participator_work .select_work_l .select{width:115px;padding-left:26px;background:url(../../img/selectArrow.png) no-repeat 95px center;border:1px solid #ccc;}
.participator_work .select_work_r .search{line-height:35px;height:35px;border:1px solid #ccc;border-radius:17.5px;padding-left:18px;width:230px;border:1px solid #ccc;border-radius:17.5px 0 0 17.5px;border-right:none;background-color:transparent;}
.participator_work .select_work_r .search_btn{width:48px;height:35px;cursor:pointer;border:1px solid #ccc;border-left:none;border-radius:0 17.5px 17.5px 0;background:url(../../img/secSeaIcon.png) no-repeat center center;background-size:12px;}
.participator_work .work_show_box{width:1240px;margin:0 auto;padding-bottom:33px;}
.participator_work .work_show_box .work_list{}
.participator_work .work_show_box .item{margin:0 20px 27px;}
.participator_work .work_show_box .item_con{width:208px;height:280px;}
.participator_work .work_show_box .work_pic_box{height:138px;overflow: hidden;}
.participator_work .work_show_box .work_pic{width:100%;height:100%;}
.participator_work .work_show_box .work_vote{text-align: center;background-color: #fff;height:150px;}
.participator_work .work_show_box .work_vote .txt{line-height:25px;font-size:14px;}
.participator_work .work_show_box .work_vote .project_name{color:#333;padding-top:23px;}
.participator_work .work_show_box .work_vote .applicant{color:#999;margin-bottom:12px;}
.participator_work .work_show_box .work_vote .vote_btn{width:150px;height:35px;line-height:35px;background-color: #ccc;border-radius:17.5px;cursor:pointer;color:#fff;}
.participator_work .work_show_box .work_vote .vote_btn:hover{background-color: #ff8814;}
/* 讨论区及奖品设置 */
.discuss_prize .content_left{width:706px;}
.discuss_prize .content{padding-top:45px;}
.discuss_prize .content_left .content_title{background-image: url(../../img/zbxm_dy_icon.png);}
.discuss_prize .content_left .discuss_box{padding-bottom:50px;min-height:800px;}
.discuss_prize .content_left .discuss_box .item{width:338px;height:166px;border:1px solid #e2e2e2;position: relative;margin-right:25px;margin-bottom:25px;cursor:pointer;}
.discuss_prize .content_left .discuss_box .item_con{padding:24px 20px 18px;}
.discuss_prize .content_left .discuss_box .user_pic_box{width:60px;height:60px;overflow: hidden;border-radius:50%;}
.discuss_prize .content_left .discuss_box .user_pic{width:100%;height:100%;}
.discuss_prize .content_left .discuss_box .user_info_txt{padding-left:76px;padding-top:10px;}
.discuss_prize .content_left .discuss_box .user_name{color:#1677bf;font-size:14px;font-weight: bold;}
.discuss_prize .content_left .discuss_box .time{color:#999;}
.discuss_prize .content_left .discuss_box .discuss_main_txt{color:#333;font-size:14px;line-height:25px;margin-top:12px;height:50px;overflow: hidden;}
.discuss_prize .content_left .discuss_symbol{position: absolute;width:35px;height:35px;background:url(../../img/discuss_symbol.png) no-repeat;right:20px;top:35px;}
.discuss_prize .content_left .discuss_box .item:hover .discuss_symbol{background-image: url(../../img/discuss_symbol_cur.png);}
.discuss_prize .content_left .discuss_box .load_more{color:#666;font-size:14px;line-height:35px;height:35px;border-radius:17.5px;text-align: center;border:1px solid #e2e2e2;cursor:pointer;}
.discuss_prize .content_right{width:456px;}
.discuss_prize .content_right .content_title{background-image: url(../../img/zbxm_prize_bg.png);}
.discuss_prize .content_right .item{width:208px;height:236px;background: #eee;text-align: center;margin-bottom:20px;}
.discuss_prize .content_right .prize_bg{height:130px;background-repeat:no-repeat;background-position:center 25px;}
.discuss_prize .content_right .prize_rank{line-height:20px;font-size:20px;color:#333;font-weight: bold;}
.discuss_prize .content_right .prize_show{margin:8px 0 3px;line-height:24px;color:#999;}
.discuss_prize .content_right .prize_man_num{width:50px;height:25px;line-height:25px;border-radius:12.5px;color:#c2aeae;font-weight: bold;margin:0 auto;}
.discuss_prize .content_right .phone_box{height:136px;background:#eee url(../../img/phone.png) no-repeat 60px center;}
.discuss_prize .content_right .phone_text{padding-left:148px;color:#ff8814;padding-top:33px;font-weight: bold;}
.discuss_prize .content_right .phone_text .title{font-size:18px;line-height:30px;}
.discuss_prize .content_right .phone_number{line-height:36px;font-size:30px;}
/* 助商、合作伙伴 */
.sponsor_partner{background-color: #eee;}
.sponsor_partner .content{padding:20px 0 10px 0;}
.sponsor_partner.section_box .content_title{padding-left:0;}
.sponsor_partner.section_box .sponsor_pic{margin-bottom:50px;}
/* 右侧悬浮导航 */
.body_right_nav{position: fixed;top:180px;right:0;width:140px;z-index:999;}
.body_right_nav .item{margin-bottom:15px;height:40px;line-height:40px;position: relative;}
.body_right_nav .item_con{padding-left:40px;background-color: #ccc;position: absolute;height:40px;line-height:40px;right:0;width:80px;color:#fff;font-size:14px;border-radius:20px 0 0 20px;}
.body_right_nav .item_con:hover,.body_right_nav .item_con.cur{background-color: #ff8814;}
.body_right_nav .item_con.cur{width:100px;}
.body_right_nav .item_con .item_con_txt{display: block;width:60px;text-align: center;}
/* 赞助商 以及 合作伙伴 */
.sponsor_partner .item{float: left;margin-right:30px;}
.sponsor_partner .support_list{margin-bottom:10px;}
.sponsor_partner .support_list .item:last-child,.partner_list .item:last-child{margin-right:0;}
.sponsor_partner .partner_list{height:60px;}

/* 页码指示 -- licong*/
/*.pageNumBox{height: 116px;text-align: center;font-size: 0;}*/
/*.pageNumBox .pageNumCon{display: inline-block;}*/
/*.pageNumBox .pageNumCon .pageNum{margin: 0 4px;}*/
/*.pageNumBox .pageNumCon .pagePrevNext{width: 78px;color:#000;}*/
/*.pageNumBox .pageNumCon .prevPage.none,.pageNumBox .pageNumCon .nextPage.none{color:#999;}*/
/*.pageNumBox .pageNumCon .pagePrevNext,.pageNumBox .pageNumCon .pageNum a{line-height: 24px;background-color: #fff;border: 1px solid #e2e2e2;border-radius: 2px;cursor: pointer;text-align: center;font-size:12px;}*/
/*.pageNumBox .pageNumCon .pageNum a{width: 28px;border:1px solid #e2e2e2;float: left;margin: 0 4px;color:#999;}*/
/*.pageNumBox .pageNumCon .pageNum a.cur{background-color: #2185cf;color:#fff;border-color: #2185cf;}*/
/* 页码指示 end */

/**合作伙伴***/
.sponsor_unit_list .sponsor_partner  span {
	
	display: block;
     
     font-size: 17px;
	background: yellow;
}
			.section_box.selection_process .item_con .process_date {
				text-align: left;
			}
			
			.participator_work .work_show_box .work_vote .project_name,
			.participator_work .work_show_box .work_vote .txt {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		   #div_activity_remark p {
		   	  
                width: 390px;
		          
		        height: 241px;
		        
		        /*多行文本省略*/
		        overflow : hidden;
		        text-overflow: ellipsis;
		        display: -webkit-box;
		        -webkit-line-clamp: 10;
		        -webkit-box-orient: vertical;
		
		        display: -moz-box;
		        -moz-line-clamp: 10;
		        -moz-box-orient: vertical;
		        text-indent: 27px;

		   	}
		   	.work_pic_box  {
		   		width: 208px;
		   		height: 130px;
		   		line-height: 130px;
		   		display: table-cell;
                background: #e2d7c8;
                vertical-align:middle;
		   	}
		   	.work_pic_box img {
		   		width: 208px;
		   		display: block;
		   		max-height:138px ;
		   		
		   	}
		   	.section_box span {
		   		color:#777474 ;
		   	}
