<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账号申诉</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	 <link rel="stylesheet" type="text/css" href="../../public/css/login-register/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/login-register/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/login-register/register/register.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../public/js/login-register/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js"></script>

	<script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
	<!--对话框-->
	<script type="text/javascript" src="../../public/custom/dialog.js"></script>
	<script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
	<style type="text/css">
		.padding{padding: 1rem 0.5rem 0  0.5rem;}
		.zhangdeli{font-size: 0.64rem;line-height: 0.8rem;}
		.niackname{height: 0.8rem;line-height: 0.8rem;font-size: 0.64rem;margin: 0.4rem 0;}
		.gotion{color: #0064B6;text-decoration: underline;}
	</style>
	</head>
	<body>
		<section class="padding">
			<div class="">
				
		   <p class="zhangdeli">你在广东青年之声的原手机号<span class="phone_txt"></span>账号申诉结果通过，账号和密码是</p>
		   
		   <!--<p class="niackname">账号：<sapn>1562210****</sapn></p>
		   
		    <p class="niackname"> 密码：<sapn>123456</sapn></p>-->
		    
		    <p class="niackname">请及时<a href="../vertioncode/newpasswrd_tow.html" class="gotion">点击该链接地址</a>重新设置新的密码。</p>
		    <p class="niackname">该邮件有效期3天，过期无效需重新申诉。</p>
			</div>
			
		</section>
	
	</body>
</html>
<script src="../../public/js/vertioncode/newpasswrd_tow.js"></script>
<script src="../../public/js/module/Utils.js"></script>


