<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收不到验证码</title>
		 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	 <link rel="stylesheet" type="text/css" href="../../public/css/login-register/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/login-register/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/login-register/register/register.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js"></script>
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../public/js/login-register/common/flexible.js"></script>
    <script type="text/javascript" src="../../public/js/common/bigDataUrl.js"></script>

	<script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
	<!--对话框-->
	<script type="text/javascript" src="../../public/custom/dialog.js"></script>
	<script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
     <script src="../../public/js/ajax/ajax2.js"></script>
	   <style type="text/css">
	     .padding{padding:2.5rem 0.2rem 0  0.2rem;}
	     .comter{height: 1.24rem;text-align: center;font-size:0.58rem;color:#333333;}
	     .allege{color: #169BD5;text-decoration:underline}
	  	
	  </style>
	</head>
	 <body>
		
		 <section class="padding">
		 	
		 	<div class="comter">手机号<span class="phone_txt"></span>已经停用或丢失?<a id="allege"  href="javascript:;" class="allege">点击这里进行申诉</a></div>
		 	
		 </section>
		
	</body>
</html>
<script src="../../public/js/vertioncode/notcode.js"></script>
<script>
	
	
</script>