/* ----------------------查看更多以及底部导航-----------
---------------------------------- */
.morebtn { line-height: 1.32rem; text-align: center; font-size: 0.48rem; height: 1.32rem; background-color: #fff; }
footer { position: fixed; width: 100%; background-color: #333333; left: 0; bottom: 0; z-index: 500; }
footer ul li { width: 20%; float: left; }
footer ul li.cur { background-color: #2185cf; }
footer ul li a { display: block; text-align: center; }
footer ul li a .imgDiv { text-align: center; width: 100%; height: 1.24rem; background: url(../../img/botIcon01.png) no-repeat; background-size: 0.9rem; }
footer ul li:nth-of-type(1) a .imgDiv { background-position: center 0.48rem; }
footer ul li:nth-of-type(2) a .imgDiv { background-position: center 0.36rem; background-image: url(../../img/botIcon02.png); background-size: 0.84rem; }
footer ul li:nth-of-type(3) a .imgDiv { background-position: center 0.36rem; background-image: url(../../img/botIcon03.png); }
footer ul li:nth-of-type(4) a .imgDiv { background-position: center 0.4rem; background-image: url(../../img/botIcon04.png); }
footer ul li:nth-of-type(5) a .imgDiv { background-position: center 0.36rem; background-size: 0.66rem; background-image: url(../../img/botIcon05.png); }
footer ul li:nth-of-type(1).cur a .imgDiv { background-image: url(../../img/botIcon01_cur.png); }
footer ul li:nth-of-type(2).cur a .imgDiv { background-image: url(../../img/botIcon02_cur.png); }
footer ul li:nth-of-type(3).cur a .imgDiv { background-image: url(../../img/botIcon03_cur.png); }
footer ul li:nth-of-type(4).cur a .imgDiv { background-image: url(../../img/botIcon04_cur.png); }
footer ul li:nth-of-type(5).cur a .imgDiv { background-image: url(../../img/botIcon05_cur.png); }
footer ul li a h6 { color: #fff; font-size: 0.48rem; padding-bottom: 0.24rem; padding-top: 0.16rem; }
