<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找问答-问答</title>
    <!--<link rel="stylesheet" type="text/css" href="css/base.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/wd_wenda.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/hd_footerNav.css" />-->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/hd_footerNav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/find_consult.css" />
    <!--<link rel="stylesheet" type="text/css" href="../../public/css/find_consult/wd_wendafenlei.css" />-->
    <script type="text/javascript" src="../../public/js/common/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <!--<script type="text/javascript" src="../../public/js/find_consult/wd_zhaowenda.js"></script>-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
    <script type="text/javascript" src="../../public/js/find_consult/find_consult_quesList.js"></script>
    <script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>
    
    <!--公共底部-->
    <script type="text/javascript" src="../../public/custom/common.js"></script>
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body class="bodyPB">
    <!--<header class="clearfix wd_header"><a href="javascript:;" class="back fl"></a><a href="javascript:;" class="seemore fr"></a></header>-->
    <div class="head_link">
        <div class="clearfix head_box">
            <a href="../index.html" class="head_logo fl"></a>
            <a href="find_consult_index.html" class="head_title colorfff fl">找咨询</a>
        </div>
    </div>
   <section class="wenda bgcWhite">
        <section class="content" id="quesList">
            <!--<div class="content_in clearfix">-->
                <!--<div class="l">-->
                    <!--<div class="circle"><img src="images/ask_1.png"/></div>-->
                <!--</div>-->
                <!--<div class="r">-->
                    <!--<div class="up">-->
                        <!--<h3>哪一瞬间你觉得自己的努力白费了？</h3>-->
                        <!--<p>帮爱奇艺做热播网剧的厦大校园行活动。 根本不认识厦大的同学，于是一个个加群。</p>-->
                    <!--</div>-->
                    <!--<div class="down clearfix">-->
                        <!--<div class="left clearfix">-->
                            <!--<span class="span01">情感婚恋</span>-->
                            <!--<span class="span02">昵称</span>-->
                            <!--<span class="span03">02/03</span>-->
                            <!--<span>18:56</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<em><img src="../../public/img/pinglun.png" /></em><span>125</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </section>
   </section>
    <!--<div class="morebtn color333">查看更多</div>-->

</body>
</html>
<!--<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--$('.wenda .title .l span').click(function(event) {-->
        <!--$(this).addClass('cur').siblings().removeClass('cur');-->
    <!--});-->

<!--</script>-->
<!--<script type="text/javascript" src="js/footerChange.js"></script>-->