<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找咨询-名人问吧</title>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/find_consult_famousCommon.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/find_consult_famousDetail.css" />
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
    <script src="../../public/js/find_consult/find_consult_famousDetail.js"></script>
    <script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>
    
    <script>
    !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
    <style rel="stylesheet">

    </style>
</head>
<body>
    <div class="consult_detail" id="container">
            <!-- 顶部 -->
        <div class="head_link">
            <div class="clearfix head_box">
                <a href="javascript:;" class="head_logo fl"></a>
                <a href="find_consult_famousList.html" class="head_title colorfff fl">名人问吧</a>
            </div>
        </div>
            <!-- banner -->
        <div class="banner">
            <img id="image_url" src="" />
        </div>
            <!-- 简单介绍、收藏 -->
        <div class="collect clearfix">
            <p class="fl" id="title"></p>
            <a href="javascript:;" class="collect_btn fr" id="likeOrCollectCommit">
                <span class="img"></span><span class="txt">收藏</span>
            </a>   
        </div>
        <div class="thumbs_up_box clearfix">
            <div class="left fl">
                <span class="qinggan" id="categoryName"></span>
                <span class="name" id="realname"></span>
                <span class="date" id="askTime"></span>
            </div>
            <a href="javascript:;" id="collectGood" class="right fr dianzan" title="点赞">（<em id="likesNum"></em>）</a>
        </div>
            <!-- 详情介绍 -->
        <div class="topic">
            <div class="p_0_30"><h2>话题详情</h2></div>
            <div class="txtBox p_0_30"><div id="askContent"></div></div>
        </div>
            <!-- 问答展示列表 -->
        <div class="commentBox">
            <div class="commentTitle clearfix p_0_30">
                <span class="title fl cur" title="new">最新</span>
                <span class="title fl color000" title="hot">热门</span>
                <a href="javascript:;" class="I_speak fr color2185cf">我要提问</a>
            </div>
                <!-- 最新回复 -->
            <div class="commentBody" id="newComments">
                <!-- <div class="item clearfix">
                    <div class="userImg fl">
                        <img src="../../public/img/ask_2.png" />
                    </div>
                    <div class="item_right">
                        <div class="userIdBox clearfix">
                            <span class="userId fl color2185cf">Mrs.Hins</span>
                            <a href="javascript:;" class="I_reply color2185cf fr">回复</a>
                        </div>
                        <div class="comment_date_box clearfix">
                            <div class="comment_date fl">07/12 13:41</div>
                            <a href="javascript:;" class="comment_dianzan fl">(<em>0</em>)</a>
                        </div>
                        <div class="userWords">怎样能创作出感人的歌曲</div>
                    </div>
                </div> -->
            </div>
                <!-- 最热回复 -->
            <div class="commentBody" id="hotComments">
                
            </div>
        </div>
        <!--<div id="seeMoreList">-->
            <!--<a href="javascript:;" class="seeMore" id="moreSeeNew">查看更多</a>-->
        <!--</div>-->
            <!-- 我要提问 -->
        <section class="comment sayMyWords clearfix">
            <textarea class="fl" placeholder="提问" id="sayMyWords"></textarea>
            <div class="btns fr clearfix">
                <input type="button" class="appear fr" id="publish" value="发表" />
                <input type="button" class="cancelRep fl" value="取消">
            </div>
        </section>
            <!-- 回复评论 -->
        <section class="comment huifu clearfix">
            <textarea class="fl" placeholder="" id="sayMyWordsRe"></textarea>
            <div class="btns fr clearfix">
                <input type="button" class="appear fr" id="toReply" value="回复" />
                <input type="button" class="cancelRep fl" value="取消">
            </div>
        </section>
    </div>
</body>
</html>
<script>
   // $(document).ready(function () {
   var reply = "";
        function huifu(id) {
//        alert(id);
            reply = id;
        }
   // })
</script>