<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找问答-组织</title>
    <!--<link rel="stylesheet" type="text/css" href="css/base.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/wd_zhaowenda.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/wd_zuzhi.css" />-->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/hd_footerNav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/find_consult.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/wd_zuzhi.css" />
    <script type="text/javascript" src="../../public/js/common/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/js/find_consult/wd_zhaowenda.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--日期格式化-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
    <script type="text/javascript" src="../../public/js/find_consult/find_consult_askOrganization.js"></script>
    <!--公共底部-->
    <script type="text/javascript" src="../../public/custom/common.js"></script>
    <script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>
    
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
    <style rel="stylesheet">
        .wd_ask_box_alone.askBtn {
            background: #2185cf none repeat scroll 0 0;
            border-radius: 0.16rem;
            bottom: 0.3rem;
            color: #fff;
            padding: 0.2rem 0.4rem;
            right: 0.6rem;
        }
        section.searchBox input{width: 77%;}
    </style>
</head>
<body class="bodyPB">
    <!-- 菜单选择 -->
    <!--<section class="districtChoose p_0_30 bgcWhite clearfix">-->
        <!--<div class="left fl">-->
            <!--<a href="javascript:;" class="color666 fz28">-->
                <!--<div class="bdr">-->
                    <!--<div><span class="tit">天河</span></div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="right fl">-->
            <!--<a href="javascript:;" class="color666 fz28">-->
                <!--<span class="tit">团省委</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</section>-->
    <section class="searchBox clearfix">
        <input id="searchKeyWord" class="fl fz26 zbfInput" placeholder="搜索组织" type="text">
        <a href="javascript:;" id="searchExpert" class="fr disB fz26 colorfff">搜索</a>
    </section>
    <section class="huoyuezuzhi bgcWhite">
        <section class="content" id="professorList">
            <!--<div class="item clearfix">-->
                <!--<div class="item_l fl"><img src="images/huodong_1.png" class="img01" /><img src="images/baoming.png" class="img02" /></div>-->
                <!--<div class="item_r">-->
                    <!--<h2 class="color000">广东青年之声</h2>-->
                    <!--<p class="p01 color999">知乎说:“假如把知乎比喻成一座城市，以前的这里只有市民和游客。</p>-->
                    <!--<p class="fl p02">问答问题1000次</p>-->
                <!--</div>-->
            <!--</div>-->


        </section>
    </section>
    <!--<div class="morebtn color333">查看更多</div>-->
    <!--插入公共底部-->
</body>
</html>
<!--<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>-->
<!--<script type="text/javascript" src="js/footerChange.js"></script>-->