<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找问答-专家详情</title>
    <!--<link rel="stylesheet" type="text/css" href="css/base.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/common.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/hd_footerNav.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/wd_zuzhixiangqing.css" />-->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/hd_footerNav.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/wd_zuzhixiangqing.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/wd_zuzhi.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/find_consult/find_consult.css" />
    <script type="text/javascript" src="../../public/js/common/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <!--<script type="text/javascript" src="../../public/js/find_consult/wd_zhaowenda.js"></script>-->
    <!--日期格式化-->
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
    <script type="text/javascript" src="../../public/js/find_consult/find_consult_expert_detail.js"></script>
<script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>
    
    <!--公共底部-->
    <script type="text/javascript" src="../../public/custom/common.js"></script>

    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body class="bodyPB">
    <header class="clearfix wd_header"><a href="javascript:;" class="back fl"></a><a href="javascript:;" class="seemore fr"></a></header>

    <section class="headTxt">
        <div class="item clearfix">
            <div class="left fl">
                <img id="exp_photoUrl" src=""/>
            </div>
            <div class="right">
                <h2 class="color000" id="orgName"></h2>
                <!--<div class="score clearfix">-->
                    <!--<ul class="clearfix fl">-->
                        <!--<li class="fl cur">11</li>-->
                        <!--<li class="fl cur">11</li>-->
                        <!--<li class="fl cur">11</li>-->
                        <!--<li class="fl"></li>-->
                        <!--<li class="fl"></li>-->
                    <!--</ul>-->
                    <!--<span class="fenshu fl"><em>3.0</em>分</span>-->
                    <!--<span class="commented color999 fl"><em>65</em>人已评</span>-->
                <!--</div>-->
            </div>
        </div>
    </section>
    <!-- 关注人数 -->
    <section class="yugao clearfix bgcWhite">
        <span class="fl color999"><span id="exp_attentionCount"></span>人关注</span>
        <a href="javascript:;" id="wzjxqAttention" class="fr">关注</a>
    </section>
    <!-- 地址、联系等等 -->
    <section class="lianxi">
        <div class="phoneAndAddress divout bgcWhite">
            <a href="javascript:;" class="divin clearfix phone">
                <div class="imgDiv fl">职业</div>
                <p class="fl color333" id="expProfession"></p>

            </a>
            <a href="javascript:;" class="divin clearfix time">
                <div class="imgDiv fl">专业特长</div>
                <p class="fl color333" id="speciality"></p>

            </a>
        </div>
    </section>
    <!-- 此乃长长的文字@#￥%TYU -->
    <!--<section class="act_introduction">-->
        <!--<div class="content bgcWhite color000">-->
           <!--<p id="introduction"></p>-->
        <!--</div>-->
    <!--</section>-->
    <!-- 我要提问 -->
    <section class="I_want_to_ask">
        <button id="ask_expert">我要提问</button>
    </section>
    <!-- 已解答问题 -->
    <a href="javascript:;" class="divin clearfix time bgcWhite mb20">
        <div class="imgDiv fl"><img src="../../public/img/commentIcon.png"/></div>
        <p class="fl color333">已解答<span id="exp_replyCount"></span>个问题</p>
    </a>
    <!--已解答问题列表-->
 <section class="wenda content" id="expert_questionList">
     <!--<div class="content_in clearfix">-->
         <!--<div class="l">-->
             <!--<div class="circle">-->
                 <!--<a href="" class="u_head">-->
                     <!--<img src="" />-->
                  <!--</a>-->
             <!--</div>-->
         <!--</div>-->
         <!--<div class="r">-->
             <!--<a href="#">-->
             <!--<div class="up">-->
                 <!--<h3>怕因生孩子而耽误事业的女性，她...</h3>-->
                 <!--<p>一直听她们说，不敢生孩子，怕耽误自己的事业。 </p>-->
             <!--</div>-->
             <!--<div class="down clearfix">-->
                 <!--<div class="left clearfix"><span class="span01">职场</span> <span class="span02">24953...</span> <span-->
                         <!--class="span02">17/08/04&nbsp;11:43</span></div>-->
                 <!--<div class="right">-->
                     <!--<em><img src="../../public/img/pinglun.png"></em>-->
                     <!--<span>2</span>-->
                 <!--</div>-->
             <!--</div>-->
             <!--</a>-->
         <!--</div>-->
     <!--</div>-->
 </section>
<!--插入公共底部-->

    </body>
</html>
