<html style="font-size: 50px;" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>找咨询-问题搜索结果</title>
    <!-- no less -->
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css">
    <!--<link rel="stylesheet" type="text/css" href="../../public/css/hd_sousuojieguo00.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../../public/css/hd_sousuo00.css">-->
    <link rel="stylesheet" type="text/css" href="../../public/css/wd_wenda.css">
    <script type="text/javascript" src="../../public/js/common/jquery-1.11.1.min.js"></script>
     <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/js/module/FindConsultApi.js"></script>
    <script type="text/javascript" src="../../public/js/find_consult/search_result.js"></script>
    <script type="text/javascript" src="../../public/js/ajax/ajax2.js"></script>
    
    <!--公共底部-->
    <script type="text/javascript" src="../../public/custom/common.js"></script>
    <!--<script type="text/javascript" src="jquery-1.js"></script>-->
	<!--<script type="text/javascript">-->
		<!--var ctx = 'http://www.12355.net';-->
		<!--var keyWord = '我是团员';-->
		<!--var sitenavOrgId = '001';-->
	<!--</script>-->
	<!--<script type="text/javascript" src="interlocutionSearch.js"></script>-->
	<!--<script type="text/javascript" src="interlocutionSearchResult.js"></script>-->
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
    <style rel="stylesheet">
        .wenda .content_in .r .down .right{float: right;}
    </style>
</head>
<body>
   <!--  <header class="clearfix hd_header por"><a href="javascript:window.history.back(-1)" class="back fl colorfff">返回</a><h1 class="fz30">搜索结果</h1><a href="javascript:;" class="seemore fr"></a></header>
    --> <!-- 搜索框 -->
    <section class="searchBox clearfix">
        <input class="fl fz26" placeholder="" autofocus="autofocus" id="keyWord" onchange="searchWordChange(this.value)" type="text">
        <a class="fr disB fz26 colorfff" id="submit_search" href="">搜索</a>
    </section>
   <h2 class="title fz28 color000 p_0_30 lineH78 borderBotPub bgcWhite" id="title_path" style="display: none;">
       找咨询-<em id="pre_name"></em><em id="total_help">(11)</em></h2>
    <!-- 内容列表 -->
   <section class="wenda bgcWhite">
       <section class="content">
           <ul id="interlocutionList" class="IndexSdhUl">
               <!--<div class="content_in clearfix">-->
                   <!--<div class="l">-->
                       <!--<div class="circle">-->
                           <!--<a href="" class="u_head">-->
                               <!--<img src=""-->
                                    <!--onerror="this.src=http://www.12355.net/resources/images/defaultPhoto.jpg "> </a>-->
                       <!--</div>-->
                   <!--</div>-->
                   <!--<div class="r">-->
                       <!--<div class="up">-->
                           <!--<h3>-->
                               <!--<a href="" class="u_head">#我是团员#</a>-->
                           <!--</h3>-->
                           <!--<p>-->
                               <!--<a href="" class="u_head">近期开展“学习总书记讲话，做</a>-->
                           <!--</p>-->
                       <!--</div>-->
                       <!--<div class="down clearfix">-->
                           <!--<div class="left clearfix">-->
                               <!--<span class="span01">学习</span>-->
                               <!--<span class="span02"><fmt:formatdate value="2017-04-18 18:59:57"-->
                                                                    <!--pattern="yy/MM/dd HH:mm:ss"></fmt:formatdate> </span>-->
                           <!--</div>-->
                           <!--<div class="right"><em><img src=""></em><span>4522</span></div>-->
                       <!--</div>-->
                   <!--</div>-->
               <!--</div>-->
           </ul>

       </section>

   </section>
   <!--  <div id="moreSee" class="morebtn color333">
    	<a href="javascript:void(null)" onclick="seeMoreList()" class="blue fnt1">
    		<div class="morebtn color333" style="line-height:1.32rem;height:1.32rem;text-align:center;">查看更多</div>
    	</a>
    </div> -->
    <!--<div style="display:none">-->
		<!--<script src="/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1258031328" target="_blank" title="站长统计">站长统计</a>-->
	<!--</div>-->

</body></html>