<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>找问答-组织详情提问</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css" />
    <link rel="stylesheet" type="text/css" href="css/hd_footerNav.css" />
    <link rel="stylesheet" type="text/css" href="css/wd_zzxqtiwen.css" />
    <link rel="stylesheet" type="text/css" href="css/wd_tiwenPub.css" />
    <script type="text/javascript" src="js/uploadPreview.js"></script>
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
    <script>
       window.onload = function () { 
            new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });

        }
    </script>
</head>
<body class="bodyPB">
    <header class="clearfix wd_header"><a href="javascript:;" class="back fl"></a><a href="javascript:;" class="seemore fr"></a></header>
    <section class="headTxt">
        <div class="item clearfix">
            <div class="left fl">
                <img src="images/liulian.png"/>
            </div>
            <div class="right">
                <h2 class="color000">冰聚印度时尚餐吧 Ice Cube Bar &amp; Grill</h2>
                <div class="score clearfix">
                    <ul class="clearfix fl">
                        <li class="fl cur"></li>
                        <li class="fl cur"></li>
                        <li class="fl cur"></li>
                        <li class="fl"></li>
                        <li class="fl"></li>
                    </ul>
                    <span class="fenshu fl"><em>3.0</em>分</span>
                    <span class="commented color999 fl"><em>65</em>人已评</span>
                </div>
            </div>
        </div>
    </section>
    <!-- 请选择 -->
    <a href="javascript:;" class="choose clearfix bgcWhite">
        <h2 class="fl color000">话题分类</h2>
        <span class="fr color999">请选择</span>
    </a>
    <!-- 请输入您的问题 -->
    <section class="writeQuestion bgcWhite">
        <h2 class="color000">您的问题</h2>
        <textarea placeholder="(5-49字)" maxlength="49"></textarea>
    </section>
    <!-- 上传图片 -->
    <section class="uploadImg bgcWhite mb20">
        <div class="title color000">上传图片</div>
        <div class="imgL clearfix">
                <div id="imgdiv" class="imgdiv" style="float:left;">
                    <div class="imgOut">
                        <div class="imgIn">
                            <img id="imgShow" class="imgShow" />
                        </div>
                    </div>
                </div>
                <div class="imgAdd fl">
                    <div class="divin">
                        <a href="javascript:;">
                            <input type="file" class="photo_upload" id="up_img"/> 
                        </a>
                    </div>
                </div>
            </div>
    </section>
    <!-- 问题说明 -->
    <section class="explain bgcWhite">
        <div class="clearfix"><h2 class="fl color000">问题说明</h2><!-- <span class="fl">&nbsp;(可选)&nbsp;</span> --><em class="fl color000">：</em></div>
        <textarea placeholder="请输入问题说明"></textarea>
    </section>
    <section class="btns clearfix">
        <a href="javascript:;" class="left fl">取消</a>
        <a href="javascript:;" class="right fr">确定</a>
    </section>
    <footer>
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>首页</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找活动</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找问答</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>找帮助</h6>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="imgDiv"></div>
                    <h6>我的</h6>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/footerChange.js"></script>
 <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>