<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo1</title>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/webuploader-0.1.5/webuploader.css">
    <script type="text/javascript" src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <!--<script type="text/javascript" src="../../public/vendor/webuploader-0.1.5/webuploader.js"></script>-->
    <script type="text/javascript" src="../../public/vendor/webuploader-0.1.5/webuploader.html5only.js"></script>

    <!--<script type="text/javascript" src="../../resources/pcJs/webuploader.js"></script>-->
    <script type="text/javascript" src="demo1.js"></script>
</head>
<body>
<!--dom结构部分-->
<div id="uploader-demo">
    <!--用来存放item-->
    <div id="fileList" class="uploader-list"></div>
    <div id="filePicker">选择图片</div>
</div>

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<b>b</b>
<i>i</i>

</body>
</html>