<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>广东青年之声后台理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link href="../../public/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../public/css/common/style.css" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/icon.css" />

		<link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
		<script src="../../public/vendor/jquery/jquery-1.8.3.min.js"></script>
		<script src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>

		<!--<script src="js/request-ajax/ajax.js"></script>-->
		<script src="../../public/custom/dialog.js"></script>
		<script src="../../public/js/module/Qnzs.js"></script>
		<script type="text/javascript" src="../../public/js/common/common.js">
		</script>
		<script src="../../public/js/module/ResultsdetailApi.js"></script>
		<script src="../../public/js/module/Utils.js"></script>
		<script src="../../public/js/find_active/Resultsdetail.js"></script>

	</head>

	<body>

		<div class="col-sm-12">
			<!--数据过滤strat-->
			<div class="datafilter">
				<div class="search">
					<form id="" method="post">
						<div class="form-group sz_height">
							<label class="col-sm-1">活动标题:</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="detail_title">
							</div>
							<label class="col-sm-1">类别:</label>
							<div class="col-sm-2">
								<select class="form-control" id="detail_sort">

								</select>
							</div>
							<label class="col-sm-1">开始时间:</label>
							<div class="col-sm-2">
								<input id="staert_time" type="text" class="easyui-datetimebox" editable="false">
							</div>
							<label class="col-sm-1">结束时间:</label>
							<div class="col-sm-2">
								<input id="stop_time" type="text" class="easyui-datetimebox" editable="false">
							</div>
						</div>
						<div class="form-group sz_height">
							<div class="col-sm-2">
								<button type="button" class="btn btn-warning btn-sm" id="classy_actit"><span class="glyphicon glyphicon-search"></span>查询</button>
								<button type="button" class="btn btn-info btn-sm" id="btn_empty"><span class="glyphicon glyphicon-refresh"></span>清空</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--数据过滤end-->

			<div class="border clearfix">
				<ul class="nav navbar-nav" id="toolbar">
					<!-- 
       	  <li><label>总学时:</label> &nbsp; &nbsp;<sapn>2</sapn></li>&nbsp; &nbsp;
          <li><label>创新创业:</label> &nbsp; &nbsp;<sapn>2</sapn></li>
          <li onclick="enrollGrade(1)"><a href="javascript：void(0);" ><span class="glyphicon glyphicon-share" data-toggle="modal">导出</span></a></li> 
          -->
				</ul>
			</div>

			<!--列表展示start-->
			<div class="table_menu_list">
				<table id="Results_model">

				</table>

			</div>
			<!--列表展示end-->
		</div>

		<script src="../../public/vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript" src="../../public/vendor/layer/1.9.3/layer.js"></script>
		<script src="../../public/js/contabs.js"></script>

	</body>

</html>