<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style type="text/css">
		.c {
			text-align: center;
		}
		
		.t_inde {
			text-indent: 30px;
		}
	</style>

	<body>
		<div class="" style="padding: 0 200px; padding-bottom: 100px;">
			<p>
				<h1 class="c">广东“青年之声”互动社交综合服务平台活动发布协议</h1></p>

			<p>h2 class="c">总     则</h2>
			</p>

			<p>欢迎您使用广东“青年之声”互动社交综合服务平台（以下简称“广东‘青年之声’”）的“活动发布”服务。</p>
			<p>在使用广东“青年之声”的“活动发布” 服务前，请您务必仔细阅读本协议并同意遵守协议有关规定。如对本协议内容有任何疑问，您可以通过广东“青年之声”公布的联系方式进行咨询。当您使用广东“青年之声”提供的“活动发布”服务，则表示您已明确知晓本协议所有内容，并与广东“青年之声”达成协议且接受所有服务条款，将被视作同意无条件接受本协议的约束。如果您不同意本协议任何内容，您应立即停止使用广东“青年之声”的“活动发布”服务。广东“青年之声”提供的服务将完全按照此服务协议进行严格执行。</p>

			<p>
				<h2 class="c">用户规范</h2></p>

			<p>特别提示用户，使用互联网必须遵守国家有关的政策和法律，包括《刑法》、《国家安全法》、《保密法》、《计算机信息系统安全保护条例》等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。</p>
			<p>1.用户在使用广东“青年之声”的“活动发布”服务过程中，必须遵循以下原则:</p>
			<p>(1)遵守中华人民共和国有关的法律和法规；</p>
			<p>(2)不得为任何非法目的而使用服务系统；</p>
			<p>(3)遵守所有与服务有关的网络协议、规定和程序；</p>
			<p>(4)不得利用广东“青年之声”进行任何可能对互联网的正常运转造成不利影响的行为；</p>
			<p>(5)不得利用广东“青年之声”传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
			<p>(6)不得利用广东“青年之声”进行任何不利于广东“青年之声”的行为。</p>
			<p>2.发布活动的个人用户必须年满16周岁且具完全民事行为能力。未满16周岁者须征得监护人同意。</p>
			<p>3. 广东“青年之声”支持各级组织用户和高校个人用户通过平台发布各类合法活动，其中不存在任何雇佣、交易关系，用户在活动过程中的任何言行及引发的后果，与本平台无关。用户在使用广东“青年之声”平台发布活动的过程中，必须遵循以下原则:</p>
			<p>(1)用户发布的活动，须取得举办该活动的资质或资格，并独立承担因没有相应的资质或资格而带来的风险和责任；</p>
			<p>(2)用户发布收费活动，须拥有相应的收费许可，并独立承担因没有相应的收费许可而带来的风险和责任；</p>
			<p>(3) 用户发布的活动信息（包括但不限于文字、图片、视频及活动本身）必须真实合法，否则应承担相关法律责任；</p>
			<p>(4)用户发布活动，须保证在活动举办期间所有参与者的安全，包括但不限于人身安全、财产安全等，如广东“青年之声”用户在参与该活动过程中受到伤害，活动发布方须按照相关法律法规承担相应责任。</p>

			<p>
				<h2 class="c">版权使用</h2></p>

			<p>1.对用户在广东“青年之声”所发布的内容，包括文字、图片、视频、音频、肖像等信息，广东“青年之声”运营方拥有完全使用权，包括但不限于复制、整理、公布、分享、推广及出版，以及授权相关合作机构使用。</p>
			<p>2.在本平台发起活动的组织用户，对所有参与活动或申请资源的用户就参与该活动或申请该资源所形成的文字、图片、视频、音频、肖像等信息拥有完全使用权，包括但不限于复制、整理、公布、分享、推广及出版，以及授权相关合作机构使用。</p>

			<p>
				<h2>免责声明</h2></p>

			<p>1.广东“青年之声”仅为用户提供平台信息支持和存储服务，不对用户发布的活动提供任何形式的保证：不保证内容满足用户的要求，不保证网站的服务不会中断。如因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致不能正常使用的，广东“青年之声”不承担任何法律责任。</p>
			<p>2. 本平台仅为活动发布提供信息服务支持，用户在广东“青年之声”平台发布的活动与广东“青年之声”平台无关。作为活动的发布者，需自行对所发布的活动负责，因所发布的活动引发的一切纠纷，由该活动的发布者承担全部法律及连带责任，与广东“青年之声”无关。</p>
			<p>3.用户在广东“青年之声”发布违规活动，或侵犯他人知识产权或其他合法权益的，广东“青年之声”有权予以删除，并保留移交司法机关处理的权利。如对广东“青年之声”造成不良影响和损失的，广东“青年之声”保留追究相关法律责任的权利。</p>
			<p>4.其他个人或机构如认为广东“青年之声”平台上存在侵犯其合法权益的内容，应提供具有法律效力的证明材料，及时与广东“青年之声”取得联系，以便迅速做出处理。</p>

			<p>
				<h2 class="c">协议修改</h2></p>

			<p>1.根据互联网的发展和有关法律、法规及规范性文件的变化，广东“青年之声”有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，广东“青年之声”将会直接在平台上公布修改之后的协议内容，该公布行为视为广东“青年之声”已将协议修改内容通知到用户。</p>
			<p>2.如果不同意广东“青年之声”对本协议相关条款所做的修改，用户有权并应当停止使用广东“青年之声”平台“活动发布”功能。如果用户继续使用“活动发布”功能，则视为用户接受广东“青年之声”对本协议相关条款所做的修改。</p>
			<p>3.广东“青年之声”独立拥有对本协议条款的最终修改权和解释权。</p>

		</div>
	</body>

</html>