<!DOCTYPE html>
<html>

	<head>
		<title>广东青年之声后台理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link href="../../public/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="../../public/css/common/style.css" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css" href="../../public/vendor/easyui/themes/icon.css" />
		<link id="js_link2"  rel="stylesheet" type="text/css" href="../../public/vendor/webuploader/webuploader.css" />
		<link  id="js_link" rel="stylesheet" type="text/css" href="../../public/vendor/webuploader/webupload_main.css" />

		<link rel="stylesheet" type="text/css" href="../../public/css/common/check.css" />
		<script src="../../public/vendor/jqueryfileupload/jquery-3.2.1.min.js"></script>
		<script src="../../public/vendor/check/validator/fm.validator.js"></script>
		
		<script src="../../public/js/module/Utils.js"></script>
		<script src="../../public/custom/dialog.js"></script>
		<script src="../../public/js/module/Qnzs.js"></script>
		<script src="../../public/js/ajax/ajax2.js"></script>
		<!-- 百度上传插件 ----->
		<script id="js1" type="text/javascript" src="../../public/vendor/webuploader/webuploader.js"></script>
        <script id="js2" type="text/javascript" src="../../public/vendor/webuploader/upload.js"></script>
		<!-- 百度上传插件 end'' ----->
		<link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />

		<style type="text/css">
			#pagination1 {
				width: 100%;
				height: 70px;
			}
			
			#pagination1 ul {
				overflow: hidden;
				text-align: center;
			}
			
			#pagination1 li {
				list-style: none;
				float: left;
				padding: 5px;
				background: bottom;
				border: 1px solid burlywood;
				margin: 0 5px;
				display: block;
			}
			
			#pagination1 li a {
				color: black;
			}
			
			.userInfo {
				width: 120px;
				height: 60px;
				float: left;
				margin-right: 20px;
			}
		</style>
		<!----校验必须----->
		<script>
			$(function() {
				Validator.language = 'en';
			});
		</script>
		<!----校验必须 end ----->
	</head>
	<!--<script src="js/jquery-1.8.3.min.js"></script>-->

	<body>
		<!---图片遮罩  ---->
		<div class="img_bg" style=" display: none;  background:rgba(0, 0, 0, 0.5); z-index: 10000; position: fixed; width: 100%;height: 100%; top: 0;left: 0;">
			 <div class="close" style="position: absolute;right: 20px;top: 20px; color: #FFFFFF;">
			 	X
			 </div>
			 <img id="bg_img"  src="" style="width: 700px;height: 500px; position: absolute;left: 50%;top: 50%; transform:translate(-50%,-50%) ;"/>
		</div>
		<div class="col-sm-12">
			<!--数据过滤strat-->
			<div class="datafilter">
				<div class="search">
					<form id="form3" method="post" class=".form-inline" style="width: 1200px;">
						<div class="form-group sz_height">

							<label class="col-sm-1">关键词</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="keyWord">
							</div>
							<label class="col-sm-1">类型</label>
							<div class="col-sm-2">
								<select class="form-control" id="selet_org_type">
									<option value="">请选择</option>
									<!--<option value="1">系统管理</option>-->
									<option value="2">团委组织</option>
									<option value="3">服务站点</option>
									<option value="4">青年文明号</option>
									<option value="5">学生社团</option>
									<option value="6">社会组织</option>
									<option value="7">合作机构</option>
								</select>
							</div>
							<label class="col-sm-1">组织名称</label>
							<div class="col-sm-2">
								<!--<input id="userType1" name="dept" value="地市">-->
								<select class="form-control" id="oidType" onchange="changeOidType(this)">
									<option value="">请选择</option>
									<option value="1">地市</option>
									<option value="2">高校</option>
								</select>
							</div>
							<label class="col-sm-1" id="show1">组织区域</label>
							<div class="col-sm-2">
								<select id="cityOid" class="form-control" name="cityOid" onchange="cityOidChange(this)">
								</select>
								<select id="shcoolOid" class="form-control" name="shcoolOid" onchange="schoolOidChange(this)">
								</select>

								<!--<input id="userType2" name="dept" value="地市">-->
							</div>

						</div>
						<div class="form-group sz_height">
							<label class="col-sm-1" id="show2">组织区域</label>
							<div class="col-sm-2">
								<!-- <input id="userType3" name="dept" value="地市">-->
								<select id="areaOid" class="form-control" onchange="quxuan(this)">
									<!--<option value="-1">--区/县--</option>-->
								</select>
								<select id="classOid" class="form-control" onchange="quxuan(this)">
									<option value="-1">--分院--</option>
								</select>
							</div>
							<input type="hidden" id="areaId" name="areaId">
							<div class="col-sm-6">
								<button type="button" class="btn btn-warning btn-sm" id="areaBtn">
	                    <span class="glyphicon glyphicon-search"></span>查询</button>
								<button type="button" class="btn btn-info btn-sm" id="clearBtn">
	                    <span class="glyphicon glyphicon-refresh"></span>清空</button>

							</div>
						</div>

					</form>
				</div>
			</div>
			<!--数据过滤end-->

			<div class="border clearfix">
				<ul class="nav navbar-nav" id="toolbar">
					<!--id="toolbar-->
					<li onclick="addReset()" id="org_add">
						<a href="#shop"><span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#user-add">新增</span></a>
					</li>
					<li onclick="updateIofn(1)" id="org_edit">
						<a href="#support"><span class="glyphicon glyphicon-pencil" data-toggle="modal">查看/修改</span></a>
					</li>

					<li onclick="newRole(2)" id="org_role">
						<a href="#support"><span class="glyphicon glyphicon-user" data-toggle="modal">分配角色</span></a>
					</li>
					<li onclick="addChildsBtn()" id="org_addUser">
						<a href="javascript:;"><span class="glyphicon glyphicon-user" data-toggle="modal">添加运营者</span></a>
					</li>
					<li onclick="resetBtn()" id="org_admin_user">
						<a href="javascript:;"><span class="glyphicon glyphicon-user" data-toggle="modal">查看运营者</span></a>
					</li>
					<li onclick="examineBtn(2)" id="rog_disabled">
						<a href="javascript:;"><span class="glyphicon glyphicon-user" data-toggle="modal">审核通过</span></a>
					</li>
					<li onclick="examineBtn(1)" class="rog_disabled_nopass">
						<a href="javascript:;"><span class="glyphicon glyphicon-user" data-toggle="modal">审核不通过</span></a>
					</li>
					<!--<li onclick="updateIofn(2)" class="org_see" style="display: none;">
						<a href="javascript:;"><span class="glyphicon glyphicon-user" data-toggle="modal">查看</span></a>
					</li>-->

				</ul>
			</div>
			<!--列表展示start-->

			<table id="mytb">

			</table>

			<!--列表展示end-->
		</div>

	

		<!--新增2（Modal） -->
		<div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h4 class="modal-title add_title" id="myModalLabel" style="">
					新增
				</h4>
					</div>
					<div class="modal-body " style="overflow-y: scroll; height: 400px;">
						<form class="form-horizontal" id="form2">
							<!--- 类型 --->
							<div class="form-group">
								<label class="col-sm-2"><span id="checkRedFly">*</span>类型</label>
								<div class="col-sm-7">
									<select id='OareaTypeAd' required="true" class="easyui-validatebox form-control">
										<option value="">请选择</option>
										<!--<option value="1">系统管理</option>-->
										<option value="2">团委组织</option>
										<option value="3">服务站点</option>
										<option value="4">青年文明号</option>
										<option value="5">学生社团</option>
										<option value="6">社会组织</option>
										<option value="7">合作机构</option>
									</select>
								</div>

							</div>
							<!----所属地区---->
							<div class="form-group">
								<label class="col-sm-2"><span id="checkRedFly">*</span>所属地区</label>
								<div class="col-sm-7">
									<select class="easyui-validatebox   form-control" required="true" id="oidType2" onchange="changeOid2Type(this)">
										<option value="">--请选择--</option>
										<option value="1">地市</option>
										<option value="2">高校</option>
									</select>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
								<div class="col-sm-7">

									<select id="cityOid2" class="form-control easyui-validatebox" name="cityOid2" onchange="cityOid2Change(this)">
										<option value="-1">--请选择--</option>
									</select>
									<select id="shcoolOid2" class="form-control easyui-validatebox" name="shcoolOid2" onchange="schoolOid2Change(this)">
										<option value="-1">--请选择--</option>
									</select>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
								<div class="col-sm-7">
									<select id="areaOid2" class="form-control" onchange="quxuan2(this)">
										<option value="-1">--区/县--</option>
									</select>
									<select id="classOid2" class="form-control" onchange="quxuan2(this)">
										<option value="-1">--分院--</option>
									</select>
								</div>

							</div>

							<!--- 组织简称----->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织简称:</label>
								<div class="col-sm-7">
									<input type="text" data-options="required:true" placeholder="华师学" id="simpleName" class="easyui-validatebox  form-control">
								</div>
							</div>
							<!---- 组织全称----->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织全称:</label>
								<div class="col-sm-7">
									<input type="text" data-options="required:true"  placeholder="华南师范大学" id="fullName" class="easyui-validatebox    form-control">
								</div>
							</div>
							<!--- 办公电话 ----->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>办公电话:</label>
								<div class="col-sm-7">
									<input type="text" data-options="required:true,validType:'mobile'" placeholder="办公电话" id="phone2" class="easyui-validatebox  form-control">
								</div>
							</div>
							<!---- 地址 ------>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>地址:</label>
								<div class="col-sm-7">
									<input type="text" required="true" placeholder="地址" id="add_address" class="easyui-validatebox   form-control">
								</div>
							</div>
							<!----- 群发站内信配额----->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>群发站内信配额:</label>
								<div class="col-sm-7">
									<input type="text" data-type="number" placeholder="请输入数字" id="totalMsg1" class="easyui-validatebox   form-control">
								</div>
							</div>
							<!---- 序号 ----->
							<div class="form-group">
								<label class="col-sm-2  control-label"><span id="checkRedFly">*</span>序号:</label>
								<div class="col-sm-7">
									<input type="text" data-options="required:true,validType:'integer'" placeholder="请输入数字" id="sort" class="easyui-validatebox  form-control">
								</div>
							</div>
							<!--- 上传头像 ----->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>上传头像:</label>
								<div class="col-sm-7">
									<img id="preview" height="100" border="0" title="" src="//wgj-web-admin.oss-cn-shenzhen.aliyuncs.com/temp/image/20171201/20171201092905_246avatar.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<div class="btn upload"><input type="file" name="image_file" id="image_file" class="upload_pic allInputWidth" onChange="fileSelected('preview','image_file');" />建议尺寸1：1的比例</div>

								</div>
							</div>

							<!---  介绍  --->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织介绍：</label>
								<div class="col-sm-3">
									<textarea id="add_introduce" required="true" name="" rows="5" cols="37" class="easyui-validatebox"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>证明文件：</label>

								<!--证明文件 start  ---->
								<!--- 上传图片框  --->
								<div class="imgMain clearfix uploading" style="margin: 0;">
									<div class="imgL clearfix">
										<div class="uploading_l fl">
											<!--<p class="font14 color333">上传图片</p>-->
											<p class="font12 color999 uploading_num">(上传图片，最多8张)</p>
										</div>
										<div id="wrapper" class="fl">
											<div id="container">
												<div id="uploader">
													<div class="queueList">
														<div id="dndArea" class="placeholder">
															<div id="filePicker"></div>
															<p>或将照片拖到这里，单次最多可选8张</p>
														</div>
													</div>
													<div class="statusBar" style="display:none;">
														<div class="progress">
															<span class="text">0%</span>
															<span class="percentage"></span>
														</div>
														<div class="info"></div>
														<div class="btns">
															<div id="filePicker2"></div>
															<div class="uploadBtn">开始上传</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div id="imgUrl" style="display: none;"></div>
								<!--- test  ------>
								<!--- 证明文件 end  ------>

							</div>

						</form>
					</div>
					<div class="modal-footer" style="height: 50px;margin-bottom: 9px;">
						<button type="button" class="btn btn-default add_canner" data-dismiss="modal">关闭
						</button>
						<button type="submit" class="btn btn-primary" id="addInfo">
							确定
						</button>
					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!--新增2（Modal） -->

		<!-- 修改框（Modal） -->
		<div class="modal fade" id="user-modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h4 class="modal-title" id="updd_box" style="">
					编辑组织
				</h4>
					</div>
					<div class="modal-body " style="overflow-y: scroll; height: 400px;">
						<form method="get" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>类型:</label>
								<div class="col-sm-7">
									<select class="input-sm form-control input-s-sm inline" id='upd_OareaTypeUp'>
										<option value="">请选择</option>
										<!--<option value="1">系统管理</option>-->
										<option value="2">团委组织</option>
										<option value="3">服务站点</option>
										<option value="4">青年文明号</option>
										<option value="5">学生社团</option>
										<option value="6">社会组织</option>
										<option value="7">合作机构</option>
									</select>
								</div>
							</div>

							<!--- 三级联动 ---->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>所属地区:</label>
								<div class="col-sm-7">
									<select class="form-control" id="oidType1" onchange="oidType(this)">
										<option value="">--请选择--</option>
										<option value="1">地市</option>
										<option value="2">高校</option>
									</select>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
								<div class="col-sm-7">

									<select id="cityOid1" class="form-control" name="cityOid" onchange="oidCity(this)">
									</select>
									<select id="shcoolOid1" class="form-control" name="shcoolOid" onchange="oidSchool(this)">
									</select>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly"></span></label>
								<div class="col-sm-7">
									<select id="areaOid1" class="form-control" onchange="areaOida(this)">
										<option value="-1">--区/县--</option>
									</select>
									<select id="classOid1" class="form-control" onchange="classOida(this)">
										<option value="-1">--分院--</option>
									</select>
								</div>
							</div>

							<!--- 三级联动 end ---->
							<!--<div style="clear:both"></div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织编码:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="华师学" id="upd_did">
                        </div>
                    </div>-->
							<div style="clear:both"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织简称:</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="华师学" id="simpleName1">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织全称:</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="华南师范大学" id="upd_fullName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>办公电话:</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="华南师范大学" id="upd_phone2">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>地址:</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" placeholder="华南师范大学" id="upd_address">
								</div>
							</div>
							<!--<div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>群发站内信配额:	</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" placeholder="2" id="totalMsg2">
                        </div>
                    </div>-->

							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>群发站内信配额:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" placeholder="1" id="upd_sort1">
								</div>
							</div>
							<!--<div class="form-group">
                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>状态:</label>
                        <div class="col-sm-3">
                            <label><input name="upd_radioButtons" id="radio1_0" data-required="" value="" type="radio"> 正常</label>
				            <label><input name="upd_radioButtons" id="radio1_0" data-required="" value="" type="radio">禁用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			    
                        </div>  
                    </div>-->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>上传头像:</label>
								<div class="col-sm-3">
									<img id="preview2" height="100" border="0" title="" src="//wgj-web-admin.oss-cn-shenzhen.aliyuncs.com/temp/image/20171009/20171009163424_965243805.png" />

									<div class="btn upload">建议尺寸1：1<input type="file" name="image_file" id="Updatefile" class="upload_pic" onChange="fileSelected('preview2','image_file1');" /></div>

								</div>
							</div>
							<!----  介绍  ------>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span id="checkRedFly">*</span>组织介绍:</label>
								<div class="col-sm-3">
									<textarea name="" id="introduce" rows="10" cols="40"></textarea>
								</div>
							</div>
							<!----证明文件  ------>
							<div class="cheak_file_box">
								<!--<div class="form-group">
	                        <label class="col-sm-2 control-label"><span id="checkRedFly">*</span>证明文件</label>
	                        <div class="col-sm-3">
	                           <img id="preview2" height="100" border="0" title="" src=" " />
	                        
	                           <div class="btn upload">建议尺寸1：1<input type="file" name="image_file" id="Updatefile" class="upload_pic" onChange="fileSelected();" /></div>
	                            
	                        </div>  
	                    </div>-->
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
						<button type="button" class="btn btn-primary" id="addInfoBtn">
					确定
				</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- 修改框（Modal）end -->

		<!-- 激活组织（Modal） -->
		<div class="modal fade" id="user-active" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h4 class="modal-title" id="myModalLabel">
					激活组织
				</h4>
					</div>
					<div class="modal-body">
						确定要更改吗?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
						<button type="button" class="btn btn-primary">
					确定
				</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- 激活组织（Modal）end -->

		<!--- 分配角色 -->

		<div class="modal fade  bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">分配角色</h4>
					</div>
					<div class="modal-body">

						<table id="addRole" style="width:200px;height:300px">

						</table>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-remove" >取消</span></button>
						<button type="button" class="btn  btn-info" id="newRoleBtn"><span class="glyphicon glyphicon-ok  ">确定</span></button>
					</div>
				</div>
			</div>
		</div>

		<!--- 分配角色end-->

		<!--- 添加到子目录--->
		<div class="modal fade" id="user_add_childs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h3 class="modal-title" id="myModalLabel">
					用户基本信息
				</h3>
					</div>
					<div class="modal-body s-height">
						<!---->

						<div class="" style="">
							<div class="" style="width: 500px;height: 75px;  ">
								<img style="width: 100px; margin: 0 auto; height: 75px;" id="o-detail-headImg" src="images/20170420.png">
							</div>

						</div>
						<div class="">
							<div class="" style="width: 500px;height: 75px; ">
								<div class="userInfo">
									<h3>昵称:</h3></div>
								<div class="userInfo">
									<h3 id="o-detail-username"></h3></div>
							</div>
						</div>
						<div class="">
							<div class="" style="width: 500px;height: 75px; ">
								<div class="userInfo">
									<h3>所属地区:</h3></div>
								<div class="userInfo">
									<h3 id="o-detail-area"></h3></div>
							</div>
						</div>
						<div class="">
							<div class="" style="width: 500px;height: 75px; ">
								<div class="userInfo">
									<h3>手机号:</h3></div>
								<div class="userInfo">
									<h3 id="o-detail-moblie"></h3></div>
							</div>

						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
						<button type="button" class="btn btn-primary" id="userAddqxBtn3">
					提交更改
				</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- 添加到子目录（Modal）end -->
		<!--- 查看子管理员--->
		<div class="modal fade" id="look-childs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:100%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h3 class="modal-title" id="myModalLabel">
					用户基本信息
				</h3>
					</div>
					<div class="modal-body">
						<!---->
						<!---配置按钮的数据列表------->
						<div class="border clearfix">
							<ul class="nav navbar-nav">
								<li onclick="childDel(1)">
									<a href="javascript:;"><span class="glyphicon glyphicon-trash">删除</span></a>
								</li>

							</ul>
						</div>
						<table id="yeTable" style="width:1200px;height:500px; display: block;">
						</table>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- 查看子管理员（Modal）end -->
		<!--- 审核  --->
		<div class="modal fade" id="examine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
						<h4 class="modal-title" id="myModalLabel">
					组织审核
				</h4>
					</div>
					<div class="modal-body " style="overflow-y: scroll;">

						<form id="form1" class="validator">
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>类型</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<select data-required id='OareaTypeAd-sh'>
									<option value="">请选择</option>
									<option value="1">系统管理</option>
									<option value="2">团委组织</option>
									<option value="3">服务站点</option>
									<option value="4">青年文明号</option>
									<option value="5">学生社团</option>fa
									<option value="6">社会组织</option>
									<option value="7">合作机构</option>
								</select>
							</div>

							<input type="hidden" id="oid" />
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>组织编码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<span id="sheng"></span>
							</div>
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>组织简称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<label class="sheng-he-2"></label>
							</div>
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>组织全称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<label class="sheng-he-3"></label>
							</div>
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>办公电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<label class="sheng-he-4"></label>
							</div>
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<label class="sheng-he-5"></label>
							</div>
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>群发站内信配额</label>
								<label class="sheng-he-6"></label>
							</div>
							<!--<div class="item-box">
				    	<span id="checkRedFly">*</span>
				        <label>序号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				         <label class="sheng-he-7"></label>
				        
				    </div>-->
							<div class="item-box">
								<span id="checkRedFly">*</span>
								<label>状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input name="radioButtons-sh" id="radio1_0" data-required="" value="1" type="radio"> 正常</label>
								<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="radioButtons-sh" id="radio1_0" data-required="" value="2" type="radio">禁用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

							</div>

							<div class="uploadTU" style="height: 100px;">
								<span id="checkRedFly">*</span>
								<label>头像&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<img id="preview-sh" height="100" border="0" title="" src="../../public/images/20170420.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							</div>
							<div class="uploadTU" style="height: 100px;margin-bottom: 48px;">
								<span id="checkRedFly">*</span>
								<label>介绍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<textarea id="look_introduce" cols="30" rows="5" style="margin-left: 20px;"></textarea>
							</div>
							<div class="uploadTU" style="height: 100px;">
								<span id="checkRedFly">*</span>
								<label>证明文件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
								<div class="see_check_file">

								</div>
							</div>

							<!---提交--->
							<div class="stopBtn">
								<button style="display: none;" onclick="examineBtn(2)" type="button" class="btn btn-warning">通过</button>
								<button style="display: none;" onclick="examineBtn(1)" type="button" class="btn btn-info">不通过</button>
								<button type="button" class="btn btn-success" data-dismiss="modal">关闭
				        </button>
							</div>

						</form>

					</div>
					<div class="modal-footer" style="height: 50px;">

					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- 查看子管理员（Modal）end -->

		<!--- 审核  end  --->
		<script type="text/javascript" src="../../public/vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../public/vendor/layer/1.9.3/layer.js"></script>
		<script type="text/javascript" src="../../public/vendor/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../public/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>

		<!--图片上传插件--->
		<script type="text/javascript" src="../../public/vendor/jqueryfileupload/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="../../public/vendor/jqueryfileupload/jquery.fileupload.js"></script>
		<script type="text/javascript" src="../../public/vendor/jqueryfileupload/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="../../public/vendor/layer/1.9.3/layer.js"></script>
		<script type="text/javascript" src="../../public/js/organization/Organization.js"></script>
		<script src="../../public/vendor/validatebox/validatebox.js"></script>
		<script src="../../public/js/common/user-linkage.js"></script>
		<!--<script src="../../public/js/common/user-linkage-3.js"></script>-->
		<script src="../../public/js/common/user-linkage-2.js"></script>
	</body>
	<script>
		$('#userType1').combobox({ // easyUI下拉列表的 comb插件
			url: 'combobox_data.json',
			valueField: 'id',
			textField: 'text'
		});
		$('#userType2').combobox({ // easyUI下拉列表的 comb插件
			url: 'combobox_data.json',
			valueField: 'id',
			textField: 'text'
		});
		$('#userType3').combobox({ // easyUI下拉列表的 comb插件
			url: 'combobox_data.json',
			valueField: 'id',
			textField: 'text'
		});

		/*** 新增框 取消按钮 ***/
		$('.add_canner').click(function() {

			$('#add_main_box').animate({
				'visibility': 'hidden'
			}, 100, function() {

				$('.new_add_box').css('visibility', 'hidden');

			})

		})
		 
		function addReset() {

			$('#add_user').modal('show')
			var i =0;
			var time =  setTimeout(function(){    //延迟加载   -
				
				loadjs('../../public/vendor/webuploader/upload.js');
				loadjs2('../../public/vendor/webuploader/upload.js');
				i++;
				console.log(i)
				if(i>1){
					
					clearTimeout(time)
				}
			},1000)
//			
		}
		//jquery无刷新重新加载js
		function loadjs(file){ 
			
		     
		    $('#js1').remove();
		    $('#js_link').remove();
		    $('#js_link2').remove();
		    $('<link  id="js_link" rel="stylesheet" type="text/css" href="../../public/vendor/webuploader/webupload_main.css" />').appendTo($('head'));
		  
		    $('<link  id="js_link2" rel="stylesheet" type="text/css" href="../../public/vendor/webuploader/webupload_main.css" />').appendTo($('head'));
		   $("<scri"+"pt>"+"</scr"+"ipt>").attr({src:file,type:'text/javascript',id:'js1'}).appendTo($('head'));
		}
		function loadjs2(file){
		   $('#js2').remove();
		  
		   $("<scri"+"pt>"+"</scr"+"ipt>").attr({src:file,type:'text/javascript',id:'js2'}).appendTo($('head'));
		   
		   
		}//重新加载
	</script>

</html>


<!--<script src="../../public/vendor/validatebox/validatebox.js"></script>-->

<!--    可以使用$("#datagridID").datagrid("getRows")这句来获取datagrid 当前页的所有行，然后再去和idField中的值去匹配 -->