
.contentBigBox .rightBox .oneSection{margin-bottom: 22px;}
.contentBigBox .rightBox .oneSection a{width: 360px;height: 60px;border-radius: 4px;line-height: 60px;margin-bottom: 15px;text-align: center;background-color: #fb9c37;display: block;}
.contentBigBox .rightBox .oneSection a.twoAsk{background-color: #2891df;}
.contentBigBox .rightBox .oneSection a.threeAsk{
    background-color: #60c051;}
.contentBigBox .rightBox .oneSection a span{background: url(../../img/wdjIcon.png) left center no-repeat;display: inline-block;padding-left: 60px;color:#fff;font-size: 18px;line-height: 60px;}
.contentBigBox .rightBox .oneSection a.twoAsk span{background-image: url(../../img/wzzIcon.png);}
.contentBigBox .rightBox .oneSection a.threeAsk span{background-image: url(../../img/wzjIcon.png);background-position: 6px center;}


button.tiwenBtn{background-color: #2185cf;padding:0 12px;border-radius:4px;left:100px;bottom:20px;}


/* 右侧推荐专家栏 */
.act_and_host.contentBigBox .rightHost .itemBox ul li .imgDiv{width: 80px;height: 80px;border-radius: 50%;}
.act_and_host.contentBigBox .rightHost .itemBox ul li .imgDiv img{width: 100%;}

.act_and_host.contentBigBox .rightZuzhi .itemBox ul li .imgDiv{;border-radius: 0;}

/* 弹窗 */
.zzxIndex .list_tanchuang .list_tanchuang_t{width: 975px!important;}
.list_tanchuang .list_tanchuang_t{width: 975px!important;}
.list_tanchuang .list_tanchuang_b .content_l{width: 750px;}
.bg_black .question input{width: 550px; height: 35px; line-height: 35px;padding: 0 15px;margin: 10px 0;}
/* 与问组织、组织列表公用啊啊啊 */
/* 专家列表-分类选项*/
.zhuanjia{padding:22px 0;}
.zhuanjia .listBox{padding: 8px 0;line-height: 26px;}
.zhuanjia .listBox .spanTit{padding-right: 14px;}
.zhuanjia .listBox .listDiv{padding-left:50px;}
.zhuanjia .listBox .listDiv .option{float: left;padding: 0 12px;line-height: 26px;border-radius: 13px;margin: 0 3px;color:#000;}
.zhuanjia .listBox .listDiv .option:hover{background-color: #2185cf;color:#fff;}
.zhuanjia .listBox .listDiv .option.cur{background-color: #2185cf;color: #fff;}

.secondSearch.fr{padding-bottom:0;padding-top:15px;}

/* 专家列表内容*/
.zhuanjia_list{padding-top:60px;}
.zhuanjia_list .list_ul .list_li{position: relative;}
.zhuanjia_list .list_ul .list_li .list_box{width:237.5px;height:80px;padding:20px;margin:0 30px 30px 0;background: #fff;overflow: hidden;clear:both;float: left;}
/*.zhuanjia_list .list_ul .list_li a{display: block;z-index: 1; background: none;}*/
.zhuanjia_list .list_ul .list_li:nth-child(4n) .list_box{margin-right:0 !important;}
.list_box_l{width:80px;height:80px;border-radius:50%;overflow:hidden;}
.list_box_l img{width:100%;display:inline-block;}
.list_box_r{margin-left:20px;width: 136px;}          /*这里给宽度*/
.list_box_r p{line-height:12px;margin:14px 0;width:100%;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.zhuanjia_list .tiwenBtn{line-height:25px;display:block;border-radius:4px;text-align:center;cursor:pointer;font-size: 12px;position: absolute;left:120px;bottom:50px;}
.zhuanjia_list .list_ul .list_li button{z-index: 1000;}
/* 找咨询-问组织、首页-组织列表共用 嗷嗷啊*/
.zuzhiList{width: 1230px;margin:0 auto;padding-top: 60px;}
.zuzhiList .zuzhiList_ul .list_li{float: left;margin: 0 15px;margin-bottom: 30px;position: relative;}
.zuzhiList .zuzhiList_ul .list_li .listBox{padding: 20px;width: 340px;height: 80px;}
.zuzhiList .zuzhiList_ul .list_li .listBox .leftBox{width: 80px;height: 80px;overflow: hidden;}
.zuzhiList .zuzhiList_ul .list_li .listBox .leftBox img{width:100%;}
.zuzhiList .zuzhiList_ul .list_li .listBox .rightTxt{padding-left: 100px;margin-left: 0;width: auto;}
.zuzhiList .zuzhiList_ul .list_li .listBox .rightTxt p{margin:14px 0;line-height: 12px;}
.zuzhiList button.tiwenBtn{width:auto;line-height:20px;border-radius:4px;text-align:center;cursor:pointer;font-size: 12px;line-height: 18px;position: absolute;left:120px;bottom:20px;}
.wzz_pageNumBox{height: 86px;}
.wzz_pageNumBox .pageNumCon{top:0;}

/* 页码指示 */
.answered .pageNumBox .pageNumCon{top:0;}
.answered .pageNumBox{height: 86px;}
/* 页码指示 -- licong*/
.pageNumBox{height: 116px;text-align: center;font-size: 0;}
.pageNumBox .pageNumCon{display: inline-block;}
.pageNumBox .pageNumCon .pageNum{margin: 0 4px;}
.pageNumBox .pageNumCon .pagePrevNext{width: 78px;color:#000;}
.pageNumBox .pageNumCon .prevPage.none,.pageNumBox .pageNumCon .nextPage.none{color:#999;}
.pageNumBox .pageNumCon .pagePrevNext,.pageNumBox .pageNumCon .pageNum a{line-height: 24px;background-color: #fff;border: 1px solid #e2e2e2;border-radius: 2px;cursor: pointer;text-align: center;font-size:12px;}
.pageNumBox .pageNumCon .pageNum a{width: 28px;border:1px solid #e2e2e2;float: left;margin: 0 4px;color:#999;}
.pageNumBox .pageNumCon .pageNum a.cur{background-color: #2185cf;color:#fff;border-color: #2185cf;}
/* 页码指示 end */
/*
问专家详情
*/
.proPersonalIntro .content .leftBox{width:350px;padding-left: 52px;text-align: center;}
.proPersonalIntro{background:url(../../img/wzzBg.jpg) no-repeat;background-size:cover;}
.proPersonalIntro .content .leftBox .imgDiv{padding-left: 0;}
.proPersonalIntro .content .leftBox .name{padding-left: 0;}
.proPersonalIntro .content .leftBox .imgDiv .imgBox{margin:0 auto;}
.proPersonalIntro .content .leftBox .nameRight{padding: 15px 0  20px;line-height: 20px;}
.wzjDetail .zzxIndex .list_tanchuang .list_tanchuang_t{width: 1035px!important;}
/*问组织详情*/
/* 各板块下详情页公用的样式啊啊啊 */
/* 问组织详情的 */
.zuzhijieshao{background:#fff url(../../img/wzzBg.jpg) no-repeat center top;height: 400px;background-size:cover;}
.zuzhijieshao.proPersonalIntro .content{padding-bottom: 60px;}
.zuzhijieshao.proPersonalIntro .content .leftBox{padding-left: 136px;}
.zuzhijieshao.proPersonalIntro .content .rightBox .top{border-color: #d4b899;}
.zuzhijieshao.proPersonalIntro .content .rightBox .top.topTit{min-height: 80px;border-color: #dcdcdc;}
.zuzhijieshao.proPersonalIntro .content .rightBox .middleTxt{padding: 18px 0;}
.zuzhijieshao.proPersonalIntro .content .rightBox .middleTxt p{line-height: 36px;}
.zuzhijieshao.proPersonalIntro .content .leftBox .imgDiv{padding: 60px 0 0 0;}
.zuzhijieshao.proPersonalIntro .content .leftBox .imgDiv .imgBox{width: 200px;height: 200px;overflow: hidden;border-radius: 0;margin:0 auto;}
.zuzhijieshao.proPersonalIntro .content .leftBox .imgDiv img{width:100%;}
.zuzhijieshao.proPersonalIntro .content .leftBox h3{text-align: center;padding-top: 40px;font-weight: bold;}
.zuzhijieshao.proPersonalIntro .content .rightBox .bottom a.guanzhu{border:none;background-color: #fff;}

.pageNumBox.wzzxq{height: 86px;}
.pageNumBox.wzzxq .pageNumCon{top:0;}


/* 组织详情的 覆盖之前*/
.zuzhijieshao02{background-image: url(../../img/wzzBg.jpg);}
.zuzhijieshao.zuzhijieshao02 .content .rightBox .top{border-color: #dcdcdc;}
.zuzhijieshao02.proPersonalIntro .content .rightBox .bottom a.guanzhu{color:#666;border:1px solid #dcdcdc;}
.zuzhijieshao02.proPersonalIntro .content .rightBox .bottom a.guanzhu span{background-image: url(../../img/guanzhuHeart02.png);}


/* 组织详情的评分 的 */
.zuzhijieshao02 .scoreBox{line-height: 14px;text-align: center; padding-top: 18px;}
.zuzhijieshao02 .scoreBox ol li{ float: left;margin-right: 3px;width: 12px;height: 12px;background: url(../../img/starNo.png) no-repeat;}
.zuzhijieshao02 .scoreBox ol li span{width: 12px;height: 12px;display: block;background: url(../../img/starYes.png) no-repeat;}
.zuzhijieshao02 .scoreBox .fenshu{margin: 0 50px 0 15px;}


/* 已受理求助列表 */
.shouliqiuzhu .content .tit h3{border-left: none;font-weight: normal;}
.askForHelp.shouliqiuzhu .list>a .itemCon .rightTxt .longTxt{height: 44px;}

/*
问题详情
*/
.graybg {
    background-color: #ebebeb;
    padding-bottom: 25px;
    padding-top: 35px;
}
.head {
    float: left;
    font-size: 14px;
    overflow: hidden;
    width: 115px;
    text-align: center;
}
.head small {
    color: #999999;
    display: block;
    font-size: 12px;
    text-align: center;
}
.txt_small {
    color: #999999;
    font-size: 12px;
}
.listMsg {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.head p {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arrowLeft {
    border-color: transparent #00a1d8 transparent transparent;
    border-style: solid;
    border-width: 11px;
    font-size: 0;
    left: 99px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 25px;
}
.arrowTop {
    border-color: transparent transparent #f0fbff;
    border-style: solid;
    border-width: 11px;
    font-size: 0;
    left: 20px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: -18px;
}
.blackArrowTop {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 8px;
    font-size: 0;
    left: 20px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: -15px;
}
.LeaverMsg {
    position: relative;
}
.LeaverMsg .U_Q {
    background-color: #00a1d8;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 120px;
    padding: 25px 100px 25px 30px;
}
.LeaverMsg .U_Q h2{color: #fff;}
.LeaverMsg .U_Q .title {
    color: #fff;
    font-size: 14px;
}
.c_small {
    color: #fff;
}
div.edit {
    font-size: 0.48rem;
    height: 0.5rem;
    margin: 0.2rem 0 0.4rem;
}
.LeaverMsg div.edit {
    height: 25px;
    margin-left: 120px;
    margin-top: 10px;
}
.msg_borad div.edit {
    height: 22px;
    overflow: hidden;
}
div.edit span {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    color: #333;
    cursor: pointer;
    margin-right: 15px;
    overflow: hidden;
    padding-left: 18px;
}
.report{background-image: url("../../img/report.png");}
div.edit span.supper {
    background-image: url("../../img/detail_10.png");
}
div.edit span.noShoucang {
    background-image: url("../../img/noshoucang.png");
    background-position: left 1px;
}
div.edit span.noShoucang.cur{
    background-image: url("../../img/shoucang.png");
    background-position: left 1px;
}
div.edit span.noZan {
    background-image: url("../../img/noZan_icon.png");
}
div.edit span.noZan.cur{
    background-image: url("../../img/zan.png");
}
div.edit span.comment {
    background-image: url("../../img/talk_icon.png");
    background-size: 0.48rem auto;
}
div.edit span.delete {
    background-image: url("../../img/talk_delete.png");
}
div.edit span.comment02 {
    background-size: 16px auto;
    padding-left: 21px;
}

div.edit span.delete02 {
    padding-left: 24px;
}
.right_A {
    float: right;
    margin-top: 10px;
}
.left_Q {
    float: left;
}
.LeaverMsg .headimg{display: block;text-align: center;}
.LeaverMsg .headimg img {
    border-radius: 50%;
    height: 85px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 85px;
    display: inline-block;
}
.LeaverMsg .titlecolor{margin-bottom: 5px;display: inline-block;}
.first_list_hImg46 .headimg img {
    border-radius: 50%;
    height: 46px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 46px;
}
.Message {
    padding: 30px 10px 10px;
}
.Message .title {
    font-size: 16px;
    height: 40px;
}
.Message .title {
}
.msgBorad .headimg {
    float: left;
}
.msgBorad .headimg img {
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #ddd;
    display: inline-block;
    height: 46px;
    overflow: hidden;
    width: 46px;
}
.LeaverMsg .right_A .arrowLeft {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 8px;
    font-size: 0;
    left: 940px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 25px;
}
.LeaverMsg .right_A .U_Q {
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    float: right;
    font-size: 14px;
    margin-left: 0;
    margin-right: 25px;
    min-height: 50px;
    padding: 18px 30px 20px;
    width: 880px;
}
.LeaverMsg .right_A .U_Q .c_small {
    color: #333;
}
.LeaverMsg .right_A .head {
    float: right;
    margin-right: 15px;
}
.msgBorad .Rinfor {
    font-size: 14px;
    line-height: 160%;
    margin-left: 60px;
}
.msg_borad {
    background-color: #f0fbff;
    border-radius: 6px;
    margin-top: 5px;
    padding: 10px 20px 15px;
    position: relative;
}
.msg_borad .InputSort{width: 80%;padding: 10px;}
.msg_borad .buttonhuifu{background-color: #2185cf;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    margin-left: 10px;
    width: 100px;}
.messagebtnheight{width:100px;height: 35px;line-height:35px;border-radius:3px;background:#2185cf;display:inline-block;float:left;text-align: center;color:#fff;margin-right:10px;cursor: pointer;font-size:14px;}
.closeBorad {
    background: rgba(0, 0, 0, 0) url("../../img/x_03.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
    z-index: 1;
}
a.closeBorad:hover {
    background: #ddd url("../../img/x_03.png") no-repeat scroll 0 0;
}
.msg_borad .edit {
    margin-top: 0;
}
.innerComment {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}
.gotoCommend {
    background-color: #e44319;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    text-align: center;
    width: 120px;
}
.Case {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 50px;
    width: 1200px;
}
.Case header h3, .Case header p {
    line-height: 220%;
    text-align: center;
}
.Case header h3 {
    font-size: 20px;
    font-weight: normal;
}
.caseList {
    padding-top: 65px;
}
.caseList div.outdiv {
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    float: left;
    height: 294px;
    overflow: hidden;
    padding: 15px 0;
    width: 240px;
}
.caseList dl {
    padding: 0 20px 15px 15px;
}
.caseList dl dt {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.caseList .cont {
    color: #999999;
    font-size: 12px;
    line-height: 160%;
    margin-bottom: 30px;
    min-height: 60px;
    text-align: left;
}
.caseList .imgIcon {
    margin-bottom: 35px;
}
.caseList div.outdiv:last-child {
    border-right: medium none;
}
.caseList dd {
    text-align: center;
}
.caseDot {
    padding: 25px 0 0;
    text-align: center;
}
.caseDot b {
    background: rgba(0, 0, 0, 0) url("../../img/i_2_28.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;
    width: 10px;
}
.caseDot b.on {
    background: rgba(0, 0, 0, 0) url("../../img/i_2_26.png") no-repeat scroll 0 0;
}
/*举报*/
.askBox2 {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 328px;
    left: 50%;
    margin-left: -350px;
    margin-top: -260px;
    position: fixed;
    top: 50%;
    width: 600px;
    z-index: 100;
}
.closed {
    background: rgba(0, 0, 0, 0) url("../../img/askBox_close_Btn.png") no-repeat scroll center center;
    cursor: pointer;
    float: right;
    height: 40px;
    width: 40px;
}
.askBox2 .askBox2_H {
    background: #2185cf none repeat scroll 0 0;
    height: 40px;
    width: 600px;
}
.askBox2 .askBox2_H h3 {
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 0 0 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
.askBox2 .askBox2_Con {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    height: 234px;
    padding: 30px 50px;
    width: 500px;
}
.inputyxxi2 {
    border: 1px solid #adadad;
    height: 100px;
    padding-left: 5px;
    width: 395px;
}
.pingjia_world {
    display: inline-block;
    font-size: 14px;
    height: 60px;
    padding-top: 40px;
    width: 88px;
}
.zifu {
    color: #999;
    font-size: 12px;
}
.jubao_fenlei {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
.jubao_fenlei label {
    margin-right: 42px;
}
.jubao_fenlei select {
    background: rgba(0, 0, 0, 0) url("../../img/down.png") no-repeat scroll 220px center / 10px 5px;
    border: 1px solid #adadad;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    width: 240px;
}
.manyi_box {
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
}
.manyi {
    width: 88px;
}
.manyi_select {
    margin-left: -2px;
}
.manyi_select input {
    margin-right: 5px;
}
.chengdu {
    margin-left: 10px;
}
.askBox2_Btn {
    border-top: 1px solid #eee;
    height: 95px;
    line-height: 65px;
    margin-top: -95px;
    position: relative;
    width: 600px;
}
.askBox2_Btn ul {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.askBox2_Btn > ul > li {
    border-radius: 2px;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 100px;
}
.fabu2 {
    background: #3ebb2b none repeat scroll 0 0;
}
.fabu2 a {
    color: #fff;
    display: block;
}
.quxiao {
    background: #eee none repeat scroll 0 0;
}
.quxiao a {
    color: #333;
    display: block;
}
.report {
    background-image: url("../../img/reportBg.png");
}
.dark2 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
/*咨询首页*/
.ask_and_answer .list .imgDiv img{width: 80px;}