

<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml">
<head>
<title>密码重置</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 <link rel="shortcut icon" href="../../public/img/zbxm_main_list/favicon.ico" type="image/x-icon" />
	<link href="../../public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="../../public/css/zhustyle.css" rel="stylesheet" type="text/css" />
	<link href="../../public/css/zhuanimation.css" rel="stylesheet" type="text/css" />
	 <script type="text/javascript" src="../../public/js/common/bigDataUrl.js" ></script>
   
	<script type="text/javascript" src="../../public/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../public/js/My97DatePicker/WdatePicker.js"></script>	
    <script type="text/javascript" src="../../public/js/util.js"></script>
	<script type="text/javascript" src="../../public/js/commons/resetPassword.js"></script>
	<script type="text/javascript" src="../../public/js/validateInput.js"></script>
	 <script type="text/javascript" src="../../public/js/ajax/ajax.js"></script>
	<script type="text/javascript">
	var ctx = '//www.12355.net';
	</script>
	<style type="text/css">
		.step_hide {display: none;}
		.step_show {display: block;}
	</style>
</head>
<body class="gray_bg">

<header class="header">
  <section class="login">
    <article class="w1200">
      <div class="logintop">
      	<div style="float: left;">
      		<a href="//www.12355.net">
				<img class="IndexLocationName2" src="../../public/images/logo.png"/> 
			</a>
      	</div>
      </div>
    </article>
  </section>
</header>

<section class="loginbodyBox">
    <div id="hao"  class=" bigboxCon">	
	<div class="bbbigbox01 clearfix step2_1" > 
	            
    	<article style="padding:0px 30px 0px 50px">            
          <div class="pageme">
               <p class="pcircle"></p>
                <p>密码重置</p>
          </div>
  			<form id="fm_forget_pw" method="post"> 
			<section class="clearfix">
              <!-- <div class="input1" style="margin-top:10px">
                <p class="fl"><label for="username">登录帐号</label></p>
                <input id="username" name="username" type="text" class="inp_mai fl inputfoucs" maxlength="12"  placeholder="已注册账号">
                <p class="fl prompt"><b>*</b></p>
              </div> -->
              <div class="input1">
                <p class="fl"><label for="email">手机号/邮箱</label></p>
              	<input name="email" id="email" type="text" placeholder="11位手机号/E-mail" style="color:gray" class="inp_mai fl inputfoucs"/>
                <p class="fl prompt"><b>*</b></p>
              </div>
              <div class="input1">
                <p class="fl" style="letter-spacing:7px"><label for="password">新密码</label></p>
                <input id="password" name="password" type="password" class="inp_mai fl inputfoucs" maxlength="16"  placeholder="6-16位字母/数字/_">
                <p class="fl prompt"><b>*</b></p>
              </div>
              <div class="input1">
                <p class="fl"><label for="rePassword">确认密码</label></p>
                <input id="rePassword" name="rePassword" type="password" class="inp_mai fl inputfoucs" maxlength="16" placeholder="6-16位字母/数字/_">
                <p class="fl prompt"><b>*</b></p>
              </div>
              <div class="input1">
                <p class="fl"><label for="emailVal">&nbsp;&nbsp;</label></p>
              		<input style="width:100px;" onkeyup="javascript:emailValOnkeyup(this)" disabled="disabled" name="emailVal" id="emailVal" type="text" placeholder="请输入验证码" maxlength="5" class="inp_mai fl inputfoucs"/>
                <p class="fl prompt"><span><b>*</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--  <em style="font-size:16px;color:#000" onclick="javascript:sendResetPwSecurityCode()" id="sendEmailVal" name="sendEmailVal"/><b>点击发送验证码</b></em>
                 -->
                 <input style="display:none;border:none;background-color:#ccc;color:#333;font-size:14px;width:100px;height:35px;border-radius: 2px;" type="button"  value="发送验证码" onclick="javascript:sendResetPwSecurityCode()" id="sendEmailVal" name="sendEmailVal">
                  </p>
              </div>
              <div class="mebutton" style="width:870px;">
					<a href="javascript:void(0)"  onclick="javascript:forgetPwSubmit();" class="setp_one">提交</a>
					<a href="//www.12355.net/index" style="background-color:#ccc; color:#333; margin-left: 10px;">取消</a>
			  </div>
			</section>
			</form>
		</article>
		
	</div>
	</div>
</section>	
<!-- footer-->
<footer class="footerIn">
  <address class="loginbm w1200">
  <p>版权所有 copyright 2016 广东青年之声</p>
  </address>
</footer>
	<div style="display:none">
		<script src="https://s95.cnzz.com/stat.php?id=1258031328&web_id=1258031328" language="JavaScript"></script>
	</div>
</body>
</html>