<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>重磅项目-参赛项目</title>
    <!-- No less -->
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/heavy_project/heavy_project_competition.css" />
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />

    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
</head>
<body>
    <div class="searchBox bgc2185cf clearfix">
        <a href="javascript:;" class="fr"></a>
    </div>
    <!-- 参赛项目 -->
    <section class="gameItem bgcWhite">
        <div class="content pl_30" id="pl_30">
            <!--<a href="javascript:;" class="item clearfix disB">
                <div class="left fl">
                    <img src="../../public/img/huodong_1.png"  />
                </div>
                <div class="right">
                    <h4 class="color000 fz30">青少年读书活动读书活动读书候总好速度</h4>
                    <p class="fz26 color666">广州市天河区育才路天才中学</p>
                    <div class="bot clearfix fz24 color999">
                        <span class="fl">2016-08-10</span>
                        <em class="fr">30</em>
                    </div>
                </div>
            </a>
            <a href="javascript:;" class="item clearfix disB">
                <div class="left fl">
                    <img src="../../public/img/huodong_2.png"  />
                </div>
                <div class="right">
                    <h4 class="color000 fz30">青少年读书活动读书活动读书候总好速度</h4>
                    <p class="fz26 color666">广州市天河区育才路天才中学</p>
                    <div class="bot clearfix fz24 color999">
                        <span class="fl">2016-08-10</span>
                        <em class="fr">30</em>
                    </div>
                </div>
            </a>
            <a href="javascript:;" class="item clearfix disB">
                <div class="left fl">
                    <img src="../../public/img/huodong_3.png"  />
                </div>
                <div class="right">
                    <h4 class="color000 fz30">青少年读书活动读书活动读书候总好速度</h4>
                    <p class="fz26 color666">广州市天河区育才路天才中学</p>
                    <div class="bot clearfix fz24 color999">
                        <span class="fl">2016-08-10</span>
                        <em class="fr">30</em>
                    </div>
                </div>
            </a>
            <a href="javascript:;" class="item clearfix disB">
                <div class="left fl">
                    <img src="../../public/img/huodong_3.png"  />
                </div>
                <div class="right">
                    <h4 class="color000 fz30">青少年读书活动读书活动读书候总好速度</h4>
                    <p class="fz26 color666">广州市天河区育才路天才中学</p>
                    <div class="bot clearfix fz24 color999">
                        <span class="fl">2016-08-10</span>
                        <em class="fr">30</em>
                    </div>
                </div>
            </a>
            <a href="javascript:;" class="item clearfix disB">
                <div class="left fl">
                    <img src="../../public/img/huodong_3.png"  />
                </div>
                <div class="right">
                    <h4 class="color000 fz30">青少年读书活动读书活动读书候总好速度</h4>
                    <p class="fz26 color666">广州市天河区育才路天才中学</p>
                    <div class="bot clearfix fz24 color999">
                        <span class="fl">2016-08-10</span>
                        <em class="fr">30</em>
                    </div>
                </div>
            </a>-->
        </div>
    </section>
    <div class="morebtn color333">查看更多</div>
    <!--********************弹窗***************************** -->
    <!-- 遮罩 -->
    <section class="darkCover"></section>
    <!-- 选择菜单 -->
    <section class="hideSelect bgcWhite p_0_30" style="display: block;">
        <div class="selects clearfix">
            <span class="fl tit color333 fz26">所属地区</span>
            <select name="" id="select00" class="fz26">
                <option value="">请选择</option>
                <option value="">地市</option>
                <option value="">高校</option>
            </select>
            <select name="" id="select01" class="fz26">
                <option value="">地市</option>
                <option value="">广州</option>
                <option value="">深圳</option>
                <option value="">茂名</option>
            </select>
            <select name="" id="select02" class="fz26">
                <option value="">高校</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
            <div class="divout clearfix fl color333 fz26 divout01" id="selectFirst">
                <div class="divin clearfix">
                    <span class="s01">请选择</span>
                </div>
                <ul class="ulSelect">
                    <li value="0" class="li01">请选择</li>
                    <li value="1">地市</li>
                    <li value="2">高校</li>
                </ul>
            </div> 
            <!-- 地市菜单 -->
            < <div class="divout clearfix fl color333 fz26 selectPub divout02" id="selectCity01">
                <div class="divin clearfix">
                    <span class="s01">市级</span>
                </div>
                <ul class="ulSelect">
                    <li value="0" class="li01">市级</li>
                    <li value="gz">广州</li>
                    <li value="sz">深圳</li>
                </ul>
            </div>
            <div class="divout clearfix fl color333 fz26 selectPub divout03" id="selectCity02">
                <div class="divin clearfix">
                    <span class="s01">区/县</span>
                </div>
                <ul class="ulSelect">
                    <li value="0" class="li01">请选择</li>
                    <li value="1">天河区</li>
                    <li value="2">越秀区</li>
                </ul>
            </div> 
            <!-- 高校菜单 -->
            <div class="divout clearfix fl color333 fz26 selectPub divout04" id="selectSchool01">
                <div class="divin clearfix">
                    <span class="s01">学校</span>
                </div>
                <ul class="ulSelect">
                    <li value="0" class="li01">请选择</li>
                    <li value="1">哈哈哈</li>
                    <li value="2">嘿嘿嘿</li>
                </ul>
            </div>
            <div class="divout clearfix fl color333 fz26 selectPub divout05" id="selectSchool02">
                <div class="divin clearfix">
                    <span class="s01">分院</span>
                </div>
                <ul class="ulSelect">
                    <li value="0" class="li01">分院</li>
                    <li value="1">111</li>
                    <li value="2">222</li>
                </ul>
            </div> 
        </div>
        <!-- 请输入项目名称或申报者关键字 -->
        <div class="shuru">
            <input type="text" placeholder="请输入项目名称或申报者关键字" class="fz26 color333" />
        </div>
        <!-- 搜索按钮 -->
        <a href="javascript:;" class="searchBtn bgc2185cf fz28 colorfff disB">搜索</a>
    </section>
</body>
</html>
   <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../public/js/common/ajax2.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>

    <script type="text/javascript" src="js/zbxm_cansaixiangmu.js"></script>
    <script src="../../public/js/heavy_project/heavy_project_competition.js"></script>




