<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;">
    <title>我参与的重磅项目</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/heavy_project/heavy_project_index.css">
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/js/module/Utils.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/ajax/ajax2.js"></script>
    <script src="../../public/js/heavy_project/heavy_project_my_participation.js"></script>
    <script>
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
     <!--公共底部栏-->
    <script type="text/javascript" src="../../public/custom/common.js"></script>
    <script type="text/javascript" src="../../public/js/find_active/common.js"></script>
    <script type="text/javascript" src="../../public/js/find_active/index.js"></script>
</head>
<body class="bodyPB" style="padding-top:0;">
<!-- 项目列表 -->
   <section class="xiangmu hd_backgroung project_item_list">
         <!--<a href="javascript:;">
            <div class="xiangmu_box">
                <div class="xiangmu_box_in">
                    <div class="xiangmu_content">
                        <div class="pic_box">
                            <img src="../../public/img/xiangmu_1.png" />
                        </div>
                        <p class="clearfix">
                            <span class="xm_fenlei fl">情感</span>
                            <span class="xm_zhuti fl">广外法学院Dreammakers</span>
                            <span class="xm_time fr clearfix"><i class="rest fl">剩</i><i class="day fl">12天4小时</i></span>
                        </p>
                    </div>
                </div>
            </div>
        </a>-->
    </section>
    <div class="gengduo bgcWhite">
        <a href="javascript:;" class="color333">查看更多</a>
    </div>
    <!-- 底部菜单栏 -->
    
    
    
   
</body>
</html>
<script type="text/javascript" src="../../public/js/heavy_project/heavy_porject_participation.js"></script>
