<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;">
    <title>我发布的重磅项目</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/heavy_project/heavy_project_index.css">
    <script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
    <script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
    <script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
    <script type="text/javascript" src="../../public/custom/dialog.js"></script>
    <script src="../../public/js/common/ajax2.js"></script>
    <script src="../../public/js/heavy_project/heavy_project_my_publish.js"></script>
    <!-- <script type="text/javascript" src="js/iScroll.js"></script> -->
    <script type="text/javascript">
        !function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
    </script>
    <style type="text/css">
     body{padding-top:0;}
    </style>
</head>
<body>
<!-- 项目列表 -->
    <section class="xiangmu hd_backgroung project_item_list">
        <!-- <a href="javascript:;">
            <div class="xiangmu_box">
                <div class="xiangmu_box_in">
                    <div class="xiangmu_content">
                        <div class="pic_box">
                            <img src="../../public/img/xiangmu_1.png" />
                        </div>
                        <p class="clearfix">
                            <span class="xm_fenlei fl">情感</span>
                            <span class="xm_zhuti fl">广外法学院Dreammakers</span>
                            <span class="xm_time fr clearfix"><i class="rest fl">剩</i><i class="day fl">12天4小时</i></span>
                        </p>
                    </div>
                </div>
            </div>
        </a> -->
    </section >
    <div class="gengduo bgcWhite">
        <a href="javascript:;" class="color333">查看更多</a>
    </div>
    <!-- 底部菜单栏 -->
    <footer>
        <ul class="clearfix">
            <li class="myIndex cur">
            <a href="index.html">
                <div class="imgDiv"></div>
                <h6>首页</h6>
            </a>
        </li>
        <li class="myActivity">
            <a href="../../static/hd_zhaohuodong.html">
                <div class="imgDiv"></div>
                <h6>找活动</h6>
            </a>
        </li>
        <li class="myQuestion">
            <a href="../../static/wd_zhaowenda.html">
                <div class="imgDiv"></div>
                <h6>找问答</h6>
            </a>
        </li>
        <li class="myHelp">
            <a href="../../static/bz_zhaobangzhu.html">
                <div class="imgDiv"></div>
                <h6>找帮助</h6>
            </a>
        </li>  <!---- ../logoin/login.html--->
        <li class="myHomePage" id="myHomePage">
            <a href="../heavy_project/heavy_project_main.html" value="1">
                <div class="imgDiv"></div>
                <h6>我的</h6>
            </a>
        </li>
        </ul>
    </footer>   
</body>
</html>
