
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>重磅项目-项目详情</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta content="telephone=no" name="format-detection" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link href="../../public/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="wapNewDet/wap_quesStyle.css" rel="stylesheet" type="text/css" />
		<!--<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
		<script src="../../public/vendor/jquery/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../public/vendor/jquery/jqueryUI-v1.10.4.css" />
		<script type="text/javascript" src="../../public/js/module/Qnzs.js"></script>
		<script type="text/javascript" src="../../public/vendor/jquery/jqueryUi-v1.10.4.js"></script>
		<script type="text/javascript" src="../../public/custom/dialog.js"></script>
        <script src="../../public/js/ajax/ajax2.js"></script>
		<script type="text/javascript">
			!function(n){var e=n.document,t=e.documentElement,i=750,d=i/50,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);
		</script>
	    <script  src="../../public/js/heavy_project/heavy_project_activitDetails.js"></script>
		
	</head>

<body class="bgcolor1">

<!-- 顶部返回首页链接 -->
	<div class="head_link">
		<div class="clearfix head_box">
			<a href="//www.12355.net/index/wapIndex" class="head_logo fl"></a>
			<a href="javascript:;" class="head_title fl">重磅项目资讯</a>
		</div>
	</div>	
<article class="listSortbox">
	<section class="whitebg  fresh">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr class="graybg">
				<td valign="left">
					<p class="u_name">
						<a id="p1" class="blue fnt16" href="#"></a>
					</p>
					<p class="gray m_top10">
						<i>时间：</i><em id="act_time"></em>
					</p>
					
				</td>
			</tr>
			<tr><td><div id="p3" class="marginAll controlImg">
				<p  style="text-align:center; display: block; width: 13.333333rem;height: 6.666666rem;">
					<img  id="p2" style="margin: 0 auto; width: 13.333333rem;height: 6.666666rem;display: block;" src=""/>
				</p>
				  <p id="p5"></p>
				
				   </div>
			    </td>
			</tr>
		</table>
    </section>
					
		</article>
		<div style="display:none">
			<script src="https://s95.cnzz.com/stat.php?id=1258031328&web_id=1258031328" language="JavaScript"></script>
		</div>

</body>
</html>